[2010-11-22 10:19] nickbnf opened #1 "Final line is not displayed when file doesn't end with an LF."
When the last line has no LF at the end, it is not displayed!

[2011-07-28 13:24] #1 closed, assigned to nobody

[2011-07-28 13:26] nickbnf opened #2 "Line number in filtered view"
Add the line number the match has been found in the filtered view.

[2011-07-28 13:28] nickbnf opened #3 "Matches overview (right hand bar)"
Creates a vertical bar on the right (optional) giving an overview of where the matches are in the file.

[2011-07-28 13:29] nickbnf opened #4 "Marks"
Allow the user to mark certain lines, it will mark then with a blue arrow instead of the circle on the left. Marks appears in the filtered view (optionally),

[2011-07-28 13:31] nickbnf opened #5 "Multiple open files"
Make glogg a tabbed interface with several files open at once.

[2011-07-28 13:34] nickbnf opened #6 "Improved search history"
Shorten the length of the "arrow down" search history, and add a special history dialogue box giving access to a full, searchable, timestamped history.

[2011-07-28 13:36] nickbnf opened #7 "Save position with latest files (not just the last one)"
And restore the file as it was on load.  Maybe also saving/restoring the marks.

[2011-07-28 13:36] nickbnf opened #8 "Non modal filter window"

[2011-07-28 13:38] nickbnf opened #9 "on/off search filtered window"
Alternative form of search window: offers a bunch of buttons to enable/disable search items.

[2011-07-28 13:38] nickbnf opened #10 "Drag 'n drop in filters window"

[2011-07-28 13:39] nickbnf opened #11 "Keep colours (partially) of selected text"

[2011-07-28 13:40] nickbnf opened #12 "Search slows down when there is a large number of matches"

[2011-07-28 14:24] nickbnf opened #13 "Move the configuration from the registry to a .ini file on Windows"
Not sure where to store the ini file, in the app directory? elsewhere?

[2011-07-28 14:26] nickbnf opened #14 "UI: Add a quick access to the regexp type on the main screen"

[2011-10-26 10:40] nickbnf opened #15 "Move the search history to a more convenient dialogue box."
The 10 first history searches should be immediately accessible, the rest should move to a dialogue box.

[2011-10-26 10:42] #15 closed, assigned to nobody

[2011-10-26 10:49] nickbnf opened #16 "Support multiple character sets (UTF-8...)"

[2011-10-27 11:59] thomasleveil opened #17 "Installer fails without admin rights on Windows 7"
On Windows 7, you need to run the installer with admin right if you want it to work.
Otherwise you hit the following error message :

[![screenshot](http://i.imgur.com/UrtAv.png)](http://imgur.com/UrtAv)

If the installer is compiled using InnoSetup, I suggest to add `PrivilegesRequired=admin` in the script's `[Setup]` section.

[2011-11-01 13:46] nickbnf opened #18 "Timeout for the Quick Search bar should be increased."

[2011-11-01 13:49] nickbnf opened #19 "Generate a "Portable App" version for Windows in addition to the installer."

[2011-11-01 13:49] nickbnf opened #20 "Provide an option to hide/show the filtered view."

[2011-11-01 13:51] nickbnf opened #21 "Provide access to remote files using GVFS/KIO on UNIX."

[2011-11-02 10:33] #13 closed, assigned to nickbnf

[2011-11-02 10:33] #17 closed, assigned to nickbnf

[2011-11-02 10:49] nickbnf opened #22 "Right-click menu on selected text"
Offering "copy", "mark" and "include in search".

[2011-11-04 11:46] nickbnf opened #23 "Quicksearch highlight disappears when the text is partially visible."
Step to reproduce:
- Do a quick search
- Look at a line where the quick searched text is highlighted (bright yellow)
- Scroll horizontally until the text is partially visible
  -> the highlighting disappears if the text is only partially visible.

[2011-11-04 12:03] nickbnf opened #24 "Tip of the day."
Or some kind of in-app documentation for keyboard shortcuts/obscure features.

[2011-11-08 07:33] Nico207 opened #25 "UTF-16 files are not supported (blank display)"
Hello,

When I open some files, the file seems to be blank.
There is only 3 caracters at the beginning ( ÿþ0 or ÿþ= ) and after only blank lines.

I don't know if you have this one but, "C:\Windows\Microsoft.NET\Framework\v4.0.30319\ngen_service.log" is one of this files.

System : Windows 7 32bits (French)
glogg : v0.8.3 (try with and without admin right)

[2011-11-11 13:06] #3 closed, assigned to nickbnf

[2011-11-15 16:46] #18 closed, assigned to nickbnf

[2011-11-28 14:10] nickbnf opened #26 "Highlight the expression which triggered the search."
Probably in a colour different than QuickFind's yellow.

[2012-01-06 19:07] #4 closed, assigned to nickbnf

[2012-03-07 14:33] #22 closed, assigned to nickbnf

[2012-03-20 14:16] #23 closed, assigned to nickbnf

[2012-05-23 03:25] earto opened #31 "PROBLEM: Filter pattern doesn't match wildcards correctly"
Hi. I'm trying to use glogg to highlight lines in text trace files however the wildcard doesn't appear to match correcty when used multiple times in a fliter pattern.

Below are 3 sample lines in my log file.
I'm trying to highlight line2 as one colour and line3 as another.
The constant is "Port:0" and presence (or absence) of "SUT" in a fixed position.

Example 1: "VP:  Port:0.?"
RESULT: Highligh

[2012-05-28 11:08] #31 closed, assigned to nobody

[2012-07-07 19:44] berrak opened #34 "File open dialog can't open directory names beginning with ."
I'm on Debian wheezy and I copied some /var/log files to my home subdirectory, named '.oldlog'.
Well, when I tried to access this with glogg the dot directory is not visible and thus not selectable.
Although you can always rename the directory but on a *nix machine these directories are common
and should be possible to browse in glogg.

[2012-07-27 08:58] nickbnf opened #35 ""Follow" indicator"
Add an icon indicating "follow" mode is active, maybe a little down arrow a la BareTail.

[2012-07-27 09:02] nickbnf opened #36 "Line number appears as tooltip when hoovering over red circle for matches."
Also highlight the location on the matches overview.

[2012-08-21 16:43] danberindei opened #37 "Multiple selection in both views"
I'd like multiple selection so that I can copy a chunk of test in another editor.

[2012-08-21 19:58] danberindei opened #38 "Open compressed files"
How about supporting compressed files?

Would it be possible to create an index for a zipped/gzipped file so that glogg can decompress the whole thing just once per search and then lazily decompress just the stuff visible in the upper view?

[2012-10-25 09:53] robertianb opened #39 "Filters are lost"
Hello ,
I am using glogg 0.9.0 on Window 7
I sometimes lose my configured filters and search history.
Where are these configured ?

 I looked in
- install folder
- my user home dir
  - windows registry
    but did not find anything

[2012-12-17 17:13] #2 closed, assigned to nobody

[2013-03-08 22:08] mcavallo opened #40 "Button or Shortcut to clear the log window"
It would be nice to have a way to clear the main log window so while tailing a file only the new entries are displayed.
This is something I really miss from OSX Console and I think It would be a great addition to this already awesome tool.

**See the following link as reference:**
http://upload.wikimedia.org/wikipedia/en/3/37/Console_Mac_OS_X.png

[2013-04-15 11:28] #34 closed, assigned to nobody

[2013-04-15 11:33] #25 closed, assigned to nobody

[2013-06-17 08:42] pinonpierre opened #41 "Refresh file on Windows"
Hi,

The log file don't refresh automatically on Windows (2008 RC2) but it work on Linux.
To refresh log file, I have to click on refresh...

Thanks for your great application !

[2013-06-17 08:44] pinonpierre opened #42 "Follow on filter list"
Hi,

Add automatic follow on filter list when auto-refresh checkbox is checked

[2013-07-01 08:27] stevekmcc opened #43 "Crash at 93% loading 1.4GB text file"
The file in question (267MB compressed) is here:
http://storage.googleapis.com/books/ngrams/books/googlebooks-eng-all-1gram-20120701-m.gz

Windows 8, 32-bit, fresh glogg 0.9.1 install

Indexing lines... (93 %)
Microsoft Visual C++ Runtime Library
Runtime Error!
Program: C:\Program Files\glogg\glogg.exe

This application has requested the Runtime to terminate it in an
unusual way.
Please contact th

[2013-07-23 14:24] zam6ak opened #44 "Feature Request: Multiple Tabs (tail multiple files)"
Please consider adding multiple tabs for tailing multiple files (example: like BareTail)

Thanks
Z

[2013-09-24 13:46] #42 closed, assigned to nickbnf

[2013-09-24 13:48] #37 closed, assigned to nickbnf

[2013-09-24 13:50] #36 closed, assigned to nickbnf

[2013-09-24 13:53] #44 closed, assigned to nobody

[2013-09-25 09:06] idachev opened #47 "Restart search auto-refresh on new file load"
When glogg opens a file that is totally replaced by the app that generates it then the search auto-refresh did not start.

The workaround is to manually click the search button to start the auto-refresh again.

This does not apply when a new content is appended to an existing file this applies when the file is removed and then created again.

For example when some apps reach their log file limit t

[2013-09-25 09:41] idachev opened #48 "Add ignore case option for quick find"
It will be good to have a new option into the quick find part to enable/disable the "Ignore case".

Or it can be sticked to the "Ignore case" option for the main matches.

[2013-09-27 23:14] #48 closed, assigned to nickbnf

[2013-10-10 11:26] dwrobel opened #49 "Missing .tarball-version file in official glogg-0.9.2.tar.gz"
There is no .tarball-version file in the official 0.9.2 tarball which results in the following messages:

g++ -c -pipe -g -Wextra -DGLOGG_DATE=\"`date +"%F"`\"
-DGLOGG_VERSION=\"`git describe`\" -DGLOGG_COMMIT=\"`git rev-parse --short HEAD`\" -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fstack-protector --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -O2 -Wall -W -D_REENTRANT -D

[2013-11-05 11:26] #49 closed, assigned to nobody

[2013-11-10 08:42] fretep opened #50 "Feature Request:: Read glogg.ini from EXE Path if present for Portable Mode"
If glogg.ini is present in the same path as the EXE - then it would be nice for glogg to use this for a "Portable Mode".
If glogg.ini is not present in the application folder - then it can continue to use the INI from %APPDATA% as current.

[2013-12-21 19:13] #5 closed, assigned to nickbnf

[2014-01-29 11:08] bilbothebaggins opened #52 "Make all operations available via GUI/menu"
It seems there are a few thing glogg only does through keyboard shortcut (like go to line).

Would be very nice if all options could be accessible via GUI (so that they're easy to find without digging up the online docs).

A minimal starting point could be a simple help dialog showing all keyboard shortcuts, so that at least the shortcuts are covered in-program.

thanks.

[2014-02-06 22:46] karlhe opened #53 "Sluggish behavior with long lines"
Was trying to search through a log file where some lines are excessively long. Even just trying to scroll through the search results window causes hangs, not sure if this happens in the main text view. In some cases glogg will simply crash with an error box during the search.

Example log:
https://dl.dropboxusercontent.com/u/455759/2014_02_06-20_48_21-8.7z
Searching for 'SoftwareRelationships' sho

[2014-02-13 22:37] dwrobel opened #54 "glogg.pro:167: Unescaped backslashes are deprecated."
Just noticed this while compiling the 1.0.0 version from the official tarball:

WARNING: /home/dw/projects/fedpkg/glogg/master/glogg-1.0.0/glogg.pro:167: Unescaped backslashes are deprecated.

Please consider to apply the following patch:

--- glogg.pro.orig      2014-02-13 23:30:01.318911090 +0100
+++ glogg.pro   2014-02-13 23:30:06.982985581 +0100
@@ -164,7 +164,7 @@
 QMAKE_CXXFLAGS = -g

 # Whi

[2014-02-14 09:06] nickbnf opened #55 "Check whether another instance of glogg is running on startup."
At the moment, when passed a file name (e.g. double-clicking on an associated file), a brand new instance of glogg is started, the session is reloaded and the new file is added as a new tab. The problem is there might already be an instance open with the same files saved in the session.

We need a way to signal via a command line argument we want to open the file in an existing instance if possibl

[2014-02-19 13:54] nickbnf opened #56 "Reloading the session on startup should be configurable."
At the moment, it always happens, it should be configurable really.

[2014-02-19 14:01] nickbnf opened #57 "Window geometry is not remembered any more since 0.99.0"

[2014-02-21 15:30] pasta23pl opened #58 "Add URL to About page"
Nice to have a link to page in About form to check for new release or wiki

[2014-02-21 15:32] pasta23pl opened #59 "Icon to indicate follow tail"
Nice to have, next to refresh icon 'follow tail' icon
1. to indicate itis on or off
2. to make it on or off

[2014-02-21 16:54] nickbnf opened #60 "Make quickfind interruptible"
... by adding a letter or pressing 'Backspace'.
At the moment, quickfind uses the GUI thread, it should be moved to another thread.

[2014-03-12 14:43] dunkpa opened #61 "Maintain approx position in filtered window when changing filter regexp"
This is a feature request.

I often parse very large log files, and would typically change the filter regexp a number of times when searching for/debugging a problem. Each time I do this, the filter window repositions so it's showing the earliest match, and I have to scroll down searching for my previous position, which can be quite hard to find (easier with 0.92 since I can search). It would be q

[2014-03-13 15:01] danberindei opened #62 "Add shortcuts for switching between tabs"
Ctrl+Tab/Ctrl+Shift-Tab, Alt+number (ideally with Alt+9 always activating the last tab, like Chrome/Firefox)

[2014-04-01 11:38] insonifi opened #63 "Exclude pattern"
Is there a way to exclude string matching the pattern? For example I need to exclude all **DEBUG** level messages, from following log:

[code]

With regex we can easily match **DEBUG**, but i couldn't come up with a way to exclude it.

[2014-04-02 05:55] #63 closed, assigned to nobody

[2014-04-11 12:15] rob3rtb opened #64 "Cannot close last open tab"
Hi,
Been using 0.9.0 for some time, (great & useful app) and just upgraded to 0.99.0.
:+1: for search improvements & F5 & options & ...etc

Tabs are cool ! :+1:  ...But:
- 1. When there is only 1 file "file1" open (no tab)
- 2. Quit
- 3. open a new file "file2"
  I expected to have only "file2" visible, and no tabs,
  instead there are 2 tabs "file1" & "file2"

If I repeat from step 2, I get more

[2014-05-02 17:50] jonathan-waite opened #65 "Follow File is not working on Windows"
On Windows, follow file will only take you to the bottom of the file but will not actually follow.

Test on Windows 7 64bit.

[2014-05-11 18:24] nickbnf opened #66 "Use "Jump List" on Windows"
glogg should put the commonly used files in W7's "Jump List".

[2014-05-11 18:34] #59 closed, assigned to nobody

[2014-05-18 09:57] #55 closed, assigned to nickbnf

[2014-06-15 10:38] duongphuhiep opened #67 "Unicode character"
Thank you this is the most productive log viewer IMO, Please

1) support UTF_8 encoding so that it can display correctly japanese, vietnamese.. character
2) _Shift_ + PgUp/PgDown, Up/Down.. should select the log not just moving around

3) a log message is often very long, to avoid horizontal scroll, we should has a panel, which display only the current line in word-wrap. This panel can be under th

[2014-06-15 14:34] piotr-dobrogost opened #68 "Porting glogg to Python"
I'd like to know what's your opinion on porting glogg to Python/PyQt|PySide?
I think this would make the project accessible to more contributors.

[2014-06-28 14:46] #58 closed, assigned to nickbnf

[2014-06-28 14:46] #62 closed, assigned to nickbnf

[2014-07-01 08:57] novakmi opened #69 "Support to handle linux terminal colors"
Thank you for great log viewer. I use it for viewing large application log files.
Many of the log files contain escape characters with terminal coloring, e.g.:

"\033[031m RED TEXT \033[0m"

It would be really nice, if one can see such text colorized in Glogg.  At least optionally (checkbox).

More info:
http://www.malloc.co/linux/how-to-print-with-color-in-linux-terminal/

[2014-07-30 10:59] #57 closed, assigned to nickbnf

[2014-09-01 07:52] sschuberth opened #71 "Rename "Filters" to "Highlighters""
IMHO, the term "Filters" is very misleading here as
- what's currently named "Filters" does not filter anything,
- and "Filters" better applies to the filtered view below the "Search" field.

[2014-09-01 08:02] sschuberth opened #72 "Support more than one filtered view"
If would be nice to be able to add an (almost) arbitrary number of additional search fields / filtered views. If issue #71 gets addressed, these views could be called "Filters". Each filter would GUI-wise duplicate all controls that are currently shown below the log view into separate QDockWidgets, each of which has its own search string and filtered view. That way, one could easily filter for thi

[2014-09-01 08:04] sschuberth opened #73 "Support presets for search expressions"
It would be nice if search expressions could be saved as named presets for later reuse (or to share them with other glogg users).

[2014-09-03 06:27] nejasmicz opened #74 "Copy pasting from glogg to excel results in a glogg's exception"
Hi,

Opening the file (size: 183MB) goes as expected. File is displayed and searchable.
Then, selecting all of the text and CTRL-C followed by the CTRL-V in Excel crashes the glogg with:

While the Excel reports about waiting for an application's OLE action to complete, until I close the unresponsive glogg.
glogg version is **1.0**.

[2014-09-11 18:33] #64 closed, assigned to nobody

[2014-09-16 16:11] dwrobel opened #75 "missing glogg-1.0.0.tar.gz"
I was in the middle of packaging the version 1.0.0 for Fedora, then I realized that the glogg-1.0.0.tar.gz tarball magically disappeared.

May I ask what is the release plan? Is packaging the version 1.0.1 recommended or should I wait for the next release?

Thanks in advance.

[2014-09-17 12:27] korayal opened #76 "Tab height is not relative to the tab text size"
Below are two screenshots from two different display on my computer. It seems that the tab height is fixed. So if the character size is big, tab text overflows from the tab.

![capture1](https://cloud.githubusercontent.com/assets/313801/4303386/c78f21b2-3e65-11e4-8201-9e376a2329be.PNG)
![capture2](https://cloud.githubusercontent.com/assets/313801/4303387/c7922236-3e65-11e4-89ef-fa1f4f3c6124.PNG)

[2014-09-18 15:54] #68 closed, assigned to nobody

[2014-11-03 16:42] #75 closed, assigned to nobody

[2014-11-12 17:45] nickbnf opened #77 "Relative file names are sent over IPC."
They should be changed to absolute names as the two glogg instances might have a different PWD.

[2014-11-23 16:45] #47 closed, assigned to nobody

[2014-11-23 16:47] #67 closed, assigned to nobody

[2014-12-04 08:35] kkokosz opened #78 "[Wishlist] Esc as new Exit shortcut"
It's a simple change - I configure glogg as default Total Commander's viewer. Esc is more comfortable to quick close glogg.

[2014-12-15 15:01] #78 closed, assigned to nobody

[2015-01-08 06:52] Kaishiyoku opened #79 "Open remote log files via SSH"
Hello,

it would be nice if you could open remote log files via SSH.

Sincere regards,
Kaishiyoku.

[2015-01-09 12:58] michary opened #80 "Clear file contents"
The only feature i'm missing in glogg, is the ability to clear the contents of the opened files.

[2015-01-14 09:29] korayal opened #81 "Keyboard Hooks for Alt-T"
Alt-T is being used for both Tools and the Text filter below the log, which requires multiple keypress when we need to reach there. It would be nice to associate this to another key (prefarably an F key, since it is a highly used part of the application, it would be nice to access there with a single key)

[2015-01-14 09:32] korayal opened #82 "Selecting a part of a line"
When we need to copy only a portion of a line, we always have to select that line, copy it to a text editor, then select the section we need and copy again.

I would be nice to have something like a method that we can double click the line (which would convert that line to a textbox) and copy that part and press Esc to revert it back to whatever it is.

[2015-01-14 09:39] korayal opened #83 "Faster option to resize fonts and Text wrapping"
On most of the text editors there is an option to use Ctrl+Scroll to increase or decrease the font size of the text in the application.

This would help some of us who uses multiple displays with different resolutions to quickly change the font size to a more appropriate one.

And when the line is too long to see it at once, it would be nice to have a text wrapping option since scrolling horizonta

[2015-01-14 10:44] fretep commented on #82
Hey korayal, I actually think you can select part of a line, but you need to click and drag, not single or double click. Give it a shot and see how you go.

Regards, Peter

[2015-01-15 08:08] korayal commented on #82
Yep, that one works :) sorry for that.

Well then to give this thread some purpose, we can replace this request for a change to be able to select multiple lines with CTRL+Click

[2015-01-16 18:36] dwrobel commented on #54
Can be closed.

[2015-01-16 19:02] dwrobel opened #84 "glogg-1.0.2 - support for DBus with Qt5"
I'm preparing 1.0.2 version for Fedora using Qt5.4. To compile it the QtDBus support I had to patch the glogg.pro as following:
[code]

Later when I run the glogg (especially with the -m option) it prints the following errors:
[code]
The message from  src/dbusexternalcom.cpp:48:  probably doesn't need to be an "ERROR"?

[2015-01-18 10:10] nickbnf commented on #54
Just to let you know. As of 1.0.2, both the Windows exe and the Debian package still use Qt4, though I have been using Qt5 for dev. Next version will probably be Qt5 only as we will use the new, much better Qt5 regex library.

[2015-01-18 10:10] #54 closed

[2015-01-18 10:15] nickbnf commented on #81
You're right, do you fancy trying to make a patch :-) ?

[2015-01-18 10:16] nickbnf commented on #83
I think text wrapping is covered in another issue (and is popular request!) but I'll keep the fast resize in this one, very useful indeed.

[2015-01-20 10:50] nickbnf opened #85 "Reloading a file uses twice the memory (and can crash)"

[2015-01-20 10:53] nickbnf commented on #82
You can select several consecutive lines using SHIFT+Click, but several non-consecutive line selections are not supported. It wouldn't be complicated to add it, but is it really a useful use case?

[2015-01-21 02:09] fretep commented on #65
Sorry, I've not had time to test this until now. It is still not working with 1.0.2. Screen capture showing a reproduction, and resulting log file linked below. I hope that helps. If there is any troubleshooting you'd like me to do, let me know.

https://www.dropbox.com/s/b2c6xqo87cpk76c/glogg-fail-to-follow.asf?dl=0
https://www.dropbox.com/s/bi4ja0o0zu6zowl/glogg_2344.log?dl=0

Regards,

Peter

[2015-01-22 09:40] korayal commented on #82
Yes, it is one of things that I try to do without noticing that it is not working :) it is useful when you make a filter, and then visually select (via quickly checking text in lines above or below them) among those filtered lines.

[2015-01-25 09:24] fretep commented on #65
OK a bit more digging, it seems that glogg doesn't update if something opens a handle and keeps sending data down it. If a new handle is opened, glogg updates. See linked video for a script that demonstrates and reproduces the behavior. The lines that end with "1" in the video are appended to the file one at a time with the file being closed after each line. The lines ending in "2" bring up a pipe

[2015-01-27 12:38] nickbnf commented on #65
Thanks a lot Peter, very useful info indeed. I actually did a similar experiment and reached the same conclusion (at least I'm happy to see SOME consistency!) with regards to closing the file versus just writing. Another interesting point I noted is that (at least in my set up) the Windows Explorer itself is not updated (date/size) when the file is touched but not closed. That kind of made me temp

[2015-01-27 14:40] jeronimo479 commented on #65
Baretail does it based on a time interval that you can specify. I know polling sucks and it's very inefficient, but accross a network, there is no callback mechanism to let you knw the file has changed. Maybe reading the file size and if that's different, read from the last index to current.

 

 

Disclaimer: This is a private email address and not for public or commercial redistribution. Please

[2015-01-27 21:53] fretep commented on #65
The tool I was using in the screen capture was a closed source Microsoft product (Configuration Manager Trace Log Viewer). However, I also use an open source project called [LogExpert](https://logexpert.codeplex.com/), which works as well - I've not had a chance to look at the code. A quick Google also shows up [Tail for Win32](http://tailforwin32.sourceforge.net/), but I've not tested that to see

[2015-01-30 09:55] dwrobel opened #86 "Deadlock: Indexing lines...(99%)"
version: glogg-1.0.2-1.fc21 (http://koji.fedoraproject.org/koji/buildinfo?buildID=604412)

While loading log file (not so long 262499051bytes) glogg got stuck displaying "Indexing lines...(99%)".

[code]

So it looks like the following:
[code]

Ofcourse, if I manually executed the following command (to let the read() to finish):
```echo "please wakeup" >> /home/D.Wrobel/tmp/logs/com-5555.txt```
it

[2015-01-30 10:37] nickbnf commented on #65
Thanks Peter, it seems you are making some progress, I didn't know about procmon but this is indeed what I was looking for (roughly an equivalent to Unix' strace if I understand well).

So are you saying that .NET FileSystemWatcher definitely does what we want? And that it is implemented by polling?

I spent quite a bit of time reading about the multiple win32 APIs that seem to do this kind of thi

[2015-02-01 14:46] #77 closed

[2015-02-02 11:15] nickbnf commented on #86
Thanks Damian, is the problem reproducible often?

I reviewed the code in inotifywatchtowerdriver.cpp and we should never block on the read() since we do a poll() before, well unless I missed something of course.

If it is easily reproducible in your setup, I can give you a patch for making the inotify fd non-blocking, though I must admit I don't understand why it is necessary. Alternatively we co

[2015-02-02 19:10] dwrobel commented on #86
I haven't tried to reproduce it, it just happened. I'll try to reproduce it.

Callstacks are available here:
bt: https://dwrobel.fedorapeople.org/tmp/glogg/glogg-bt.txt
bt full: https://dwrobel.fedorapeople.org/tmp/glogg/glogg-bt-full.txt

[2015-02-15 19:12] Osgul opened #87 "Application not responding after "|""
When "Extended Regexp" is selected for "QuickFind search type" and "|" character is entered into QuickFind edit box  - app is not responding. Only way is to kill the app.
Note: there is no need to press enter to start search in QuickFind and "|" character is quite common in regexes.

[2015-02-17 09:25] fretep commented on #87
I can also confirm this, I've never actually used the quick find as I find the main search to be much more useful. To enable RegEx syntax for quick find you have to disable incremental search in the options, however, this does not seem to functionally disable the incremental search in practice. Opening a bracket also crashes glogg.

[2015-02-17 09:43] fretep commented on #65
Wow, thanks for reminding me why I hate Win32 programming. I'm going to need to set aside a big chunk of time to get my head back into that space. Most my previous encounters with Win32 were much simpler than this, and they were all a long time back. I will get to having a look to see if I can get a reliable sample going, I might just need a bit more time.

I also noticed that it is not consistent

[2015-05-27 09:54] emilisev opened #88 "Open another file in existing instance"
Hi

I'm using glogg 1.0.2 on windows 8, and when I have an existing instance of glogg opened, if I double-click a .log file, glogg flashes but doesn't show the new file. However if drop the file to glogg window, the file does open in a new tab.

Thanks for helping

[2015-06-04 11:40] pvish opened #89 "Should be able to search down/up from a marked point"
I use glogg a lot and have recommended it to a lot of my friends.
The blue marker in the big log is a great feature.

It would be great if we had an option to search for a new expression below or above this mark.

[2015-07-27 13:32] kao98 commented on #65
I don't know if this can be consider as the same issue but under Ubuntu, I can't follow a file that is hosted by a Windows server and read from a network share.
Tail works perfectly well instead with that configuration.

[2015-08-03 08:13] shuky19 opened #90 "Hide unmached request"
Hi,

Here are some feature request that I think will really help:
- It would be awesome to have the ability to hide unmatched lines.
- Keyboard shortcuts are really missing.
- Preview window of the filters will be really helpful to keep track of the colors meaning

Thanks,
Shuky

[2015-08-14 07:49] axi commented on #79
Yes it would
Alexis

[2015-08-14 09:23] nickbnf commented on #88
Is it reproducible every time? Or just for some files?

Anyone else has seen this problem?

[2015-08-14 13:35] emilisev commented on #88
Ok I did some more testing, and think I identified the issue : files don't open when there is an é or É in the path or file name.

[2015-08-19 08:41] michael-o opened #92 "App chokes on 7 GB JSON file"
I am trying to load a database dump in JSON format, at 14 % the application terminates with a C++ Library notification.

[2015-08-31 22:41] nickbnf commented on #92
7a2f3a57e884000357471fe3462e6bb0262e96af and building for Win64 should fix the problem.

[2015-08-31 22:41] #92 closed

[2015-08-31 22:51] nickbnf commented on #90
Thanks Shuky,

* Hide unmatched line: isn't it what the bottom window does?
* Keyboard shortcuts: yes indeed, which one in particular do you miss?
* Preview window: I'm not sure I understand, you mean like the "Filter" dialog or something different?

[2015-08-31 22:52] nickbnf commented on #89
If you select the line, and then type "/" (forward) or "?" (backward), doesn't it do what you want?

[2015-08-31 22:53] nickbnf commented on #88
OK, good find! I'll try and correct it...

[2015-09-01 08:04] michael-o commented on #92
Thanks, will wait for a new release.

[2015-09-01 21:32] #87 closed

[2015-09-01 21:54] nickbnf opened #93 "Write an AppData file"
http://people.freedesktop.org/~hughsient/appdata/

[2015-10-08 09:51] rvansa commented on #60
+1, this is the reason I'll probably won't use glogg

[2015-10-08 13:13] rvansa commented on #60
And another thing - it would be useful if the search went forward and backward from the current position, so that I don't have to wait until whole log gets indexed when I need only the closest records.

[2015-10-08 18:34] tanguero commented on #60
I disabled regex and the other fancy search in that box, so that it doesn't do that. Use a basic search and it works.

[2015-11-12 00:23] alcik opened #95 "Some ideas"
# Really great software
Thank you very much for your hard work.
## Some ideas
1. It would be great to have possibility to split horizontally the window of current log file so user can look at two different parts of file at the same time.
2. It would be great to have possibility to vertically split the window and look at two different files at the same time.
   * three different scrolling modes:

[2015-11-17 14:49] nickbnf commented on #65
glogg 1.0.3 should now solves this problem by offering a polling mechanism (in addition to the existing notification based system we discussed earlier) on Windows. Polling is set to 2 seconds by default and can be changed/disabled.

I will close this issue, could you guys test if it works for you?

[2015-11-17 14:55] kao98 commented on #65
I don't have the possibility to test it anymore, sorry :/

[2015-11-17 15:22] tanguero opened #96 "Is Glogg ever going to support Windows Unicode text files?"
Currently I have to convert them to look at them :(

Thanks.

[2015-11-17 15:28] tanguero commented on #65
When is Glogg going to support Windows Unicode test files? currently I have to convert those before using Glogg... :(

[2015-11-17 15:29] tanguero opened #97 "Support for Windows Unicode text files?"
Is that in the works? it is not easy to convert those and then use glogg :(

[2015-11-17 20:14] albertasva commented on #65
I use glogg 1.0.3 everyday. Follow file still not working on Windows. Right now I have log open with another utility - glogg is behind by 5 minutes.
Polling enabled, Follow file checked.
Windows 7 x64, 64 bit glogg.

[2015-11-18 22:06] RytoEX opened #98 "Max length of search strings"
I was trying to run a search with a particularly long search string.  However, after pasting it into the search field, I noticed that it did not completely paste.  After copying the text from the search field and pasting it into Notepad++ to check its length, I found that it was 32767 characters long.  My original search string was just over 37,000 characters long.  Any chance that limit could be

[2015-11-24 19:09] vobj commented on #65
The problem persists for me too.

Polling enabled, Follow file checked.
Windows Server2012 R2, 64 bit glogg 1.0.3

Please reopen this bug.

[2016-01-19 07:32] michary opened #100 "No Linebreaks are displayed"
Hi,

since we updated to Glogg 1.0.3 and the application runs for a while, the log-file is not displayed correctly.

![screenshot from 2016-01-19 08 18 23](https://cloud.githubusercontent.com/assets/867772/12412429/bc78dab4-be86-11e5-8bd3-a8a7833f84ee.png)

[2016-01-28 16:05] glogguser opened #101 "allow for glogg (and settings) to be used from usb"
currently the config is written to %APPDATA%\glogg could the code be altered for a portable mode I guess you would call it to be used somehow - eg if an empty glogg.ini is created in same folder as glogg executable before running glogg its settings are written to this file instead.

[2016-02-12 08:36] #16 closed

[2016-02-19 12:32] ferenczy commented on #97
Why are you creating **two** issues for the same subject?

[2016-02-19 12:35] ferenczy commented on #96
As you can see on [Glogg's Google Group](https://groups.google.com/forum/#!topic/glogg-devel/kvOadvwxKBY), answer is **yes**:

But some estimate when the version 1.1 could be released would be nice.

[2016-03-13 17:21] GarethPW opened #105 "Multiple Instances at Once or Split-Screen Tab View"
These features would be great since I'm currently unable to use glogg to monitor multiple files effectively.

[2016-03-15 19:46] variar commented on #105
There is comand-line switch --multi that allows multiple instances to start

[2016-03-17 21:29] ihpled opened #107 "Case insensitive option for filters"
A useful feature could be a case insensitive option also for filters. I'm not able to find a way to achieve it without using complex regexp

[2016-03-20 12:18] stolsvik opened #109 "Windows: Handling git better, not keep files open.."
I use Glogg as a file viewer on windows, due to its extremely good handling of very large files.

From a Java project, we create some huge "report files" which are checked into git.

However, I do get some problems with git, as glogg evidently (quite obviously, given its "log viewer" main feature) keeps the files open. This works for the Java-task that writes to the file, as it evidently just trun

[2016-03-21 15:18] variar opened #110 "Support for multibyte encodings"
Support for utf-8 is great. However, current implementation can't be easily extended to support multibyte encodings like utf-16/utf-32.  Adding encoding for display purposes is trivial. The problem is that index of line positions is created using manual detection of 'newline' characters assuming it is encoded using 8 bits. In utf-16 each character is encoded using 16-bits. Moreover utf-16 can use

[2016-03-21 23:41] variar commented on #110
I've done some experiments. QTextStream::readLineInto(nullptr) can be used to do all multibyte handling without copying data to actual QString object. Should be fast enough for indexing line positions. However, LogData uses QFile::readLine() to get actual text lines and that method is unaware of character width. It is possible to use QTextStreem here also.

[2016-04-08 20:53] Trismegistos84 opened #111 "I wish to add clear log menu option"
I would like to add "clear log" menu option that clears log files (erase all content but does not delete the content). Will such an feature be merged if I code it and create pull request?

[2016-04-13 15:01] hybridview commented on #85
This might be related to my issue as well. When I have a large log file open, if I hit refresh, then hit refresh again before the original refresh completes, glogg almost always crashes. Sometimes, I think glogg is trying to auto-refresh right before I manually hit refresh, causing the issue when I just refresh once.

Background:
When waiting for a response to show up in logs (using any viewer), I

[2016-04-22 19:15] variar commented on #111
In my opinion this would be quite strange for log **viewer** to be able to erase logs

[2016-04-23 13:10] drakonka opened #112 "Glogg displaying old log file contents even after file deletion"
Quite often glogg seems to display an older cached version of the file. This is on Fedora 23. My repro steps have been:

1. Open log file (usually I have it open in the background indefinitely)
2. After some time note that the file does not seem to be properly updating in glogg
3. Try refreshing file - still showing old contents
4. Try deleting entire log file from disk, glogg contents window turn

[2016-04-23 15:07] Trismegistos84 commented on #111
This is quite usual for testers. You have to test out some behaviour of tested application then you try to reproduce behaviour but you did not succeed so you want to try again but you would like to have clean log file because if you have more logs it is harder to orient yourself in the file. Now I have to open console window and issue command like echo -n > logfile but it is somehow clumsy. That i

[2016-05-02 14:15] reyazucar commented on #79
+1

[2016-05-14 08:21] mlopezcoria opened #113 "Fedora - root privileges"
Hey,

I had to make a file in order to execute glogg with root privileges in **fedora 23 cinnamon spin** and I wanted to share it, because it may be helpful and you can include it.

The hole explanation is here in fedora forum http://forums.fedoraforum.org/showthread.php?t=308300

Thank you!

[2016-05-16 19:03] petertirrell commented on #110
Would this explain weirdness in viewing files that I think are encoded in UTF16? I see two funny characters at the very beginning of a sample file, and each line of the file is truncated in the view mid-way across.  I can scroll to the right and that makes the rest of the text appear in the viewport.  And if I highlight/select text, it "pushes" the text on the row to the right as I drag across, an

[2016-05-16 20:43] variar commented on #110
Yes, that's the issue. I've come up with a solution. One can try to encode "\n" character to check resulting number of bytes as well as bytes order. Using this information it is possible to build line index almost without modification. I'd be happy to share this code, however right now it might be difficult because of accumulation of other changes.

If you are brave enough check my fork (klogg). I

[2016-05-20 16:15] jlanzarotta opened #114 "Follow File not working"
Hello,

I am looking for a log viewer that can handle very large files and I found glogg.  Everything is good except that the "Follow File" is not working on Windows 7 x64 using the latest version of the software.

As a log file grows, no new long show up unless I do an actual reload of the file.  I know the file is growing because I can use plain ol' "tail -f" to see that the file is indeed growi

[2016-05-26 19:56] jlanzarotta commented on #114
I am attempting to build on debian 8.  Having issues with virtualbox...

Anyways, it seems to work "sometimes" but then stops working.

[2016-06-02 12:33] jlanzarotta commented on #114
Well, I have not got the Win32 build to work under Debian. :(

Anyways, does anyone have a clue on why glogg is not able to determine that a logback log has been updated on Windows?

[2016-06-07 15:36] artesa commented on #114
I'm facing the same issue. I use glogg to view Android logcat, printed out to a file, on Windows 7 x64.

It works perfectly on Linux (that's how I know this app), and I've found no better option for Windows so far. But unfortunately absence of this crucial feature messes all up.

The new feature "scroll to update" does not work either, I need to manually press "Reload" button to update the content

[2016-06-08 12:14] jlanzarotta commented on #114
If I could get the code to compile successfully, I might have a change to debug it.  Unfortunately for me, the program is unfortunately unusable on Windows with the "follow" working...

[2016-06-13 01:03] guillaume-chevalier opened #115 "Scrolling trough 32 GB file"
I simply scrolled trough nearly 300 lines in a 32 GB file under Ubuntu 14 LTS. I Installed glogg from apt-get, fresh install.

gui@gui-Satellite-P50-A:/media/gui/Data/datasets/reddit_comments$ glogg RC_2015-01
- 14:56:34.792 WARNING savedsearches.cpp:124: Trying to import legacy (<=0.8.2) saved searches...
- 14:56:34.792 WARNING savedsearches.cpp:128: ...imported searches: 0 elements
- 14:56:34.79

[2016-06-15 11:41] MartinGernhard opened #116 "Last line in search results is not visible"
glogg-v1.1.1-1-x86_64-setup.exe

The last line of search results is not shown and can not be reached with the scroll bar. If I use the mouse wheel to scroll down "beyond the end" the last line becomes partially visible for a short amount of time but then the view scrolls back immediately. If I use the mouse wheel to scroll down *very* fast the last line and the yellow/grey end marker become visibl

[2016-06-21 14:28] OleksandrMelnyk opened #117 "Hangs up in case try scroll result list"
Problem:
1 - window for result not cleaned after new search without result
2 - glogg hangs up in case try scroll result list

glogg 1.1.0-1 ubuntu 16.04

Sequence to reproduce :
1- Open file ~1-2Mb
2 - Search pattern with a lot of results
3 - Try search other pattern without result
4 - In window with result try scroll use mouse wheel without select window
Result :
- window for result not cleaned a

[2016-06-23 06:27] e-orz opened #118 "follow file 'f' short cut doesn't work"
Hi,
pressing the f key doesn't have any effect.
I'm on Ubuntu 16.04 64bit.
I also compiled from sources (glogg v1.1.1, Built 2016-06-23 from 1369f9b) and the issue still exists.

Thanks!

[2016-06-24 08:29] KMV16 opened #119 "Encoding issue"
Hi! Your program is great for review big log files!

Could you please add windows-1251 encoding

Now if i open file  with Cyrillic charaters i see something like this
(-4585) Äëÿ ýòîé îïåðàöèè íåîáõîäèìî ñîåäèíåíèå ñ ñåðâåðîì. Óñòàíîâèòå ñîåäèíåíèå è ïîïðîáóéòå åùå ðàç.

[2016-06-26 06:41] e-orz commented on #119
variar build (look in the forks) has CP1251

[2016-07-11 13:23] pinonpierre commented on #114
Same issue on Windows 10 x64.
Do you have some news about this problem ?

[2016-07-13 12:40] jlanzarotta commented on #114
Nope.  I would love to use this program since it is cross-platform as well as open-source.  However, I need a working solution and have moved on for now.  I might return if the original author would give us a clue as to what is going on...

[2016-07-19 10:36] rnyberg opened #120 "Fonts are jagged"
It seems like there is no anti-aliasing, so most fonts look really bad. Would really like if hinting/AA was included, thanks! :)

[2016-07-27 20:42] bgammill opened #121 "Entry Point Not Found"
Good day everyone. Whenever I open the application and try to load a file, I get the error attached. After closing the error dialog, I can successfully open a file. Any ideas as to why this is occurring? Thanks!

![entrypoint](https://cloud.githubusercontent.com/assets/1501774/17191674/35146d1e-5408-11e6-9b05-247dbae014d0.png)

[2016-08-04 15:47] nickman opened #122 "Feature Request: Support reading gzipped files"
GZip encoding can be detected on file open.
I realize this may be a performance hit, but it would be extremely helpful.

[2016-08-11 10:11] bannmann opened #123 "Moving through matches by keyboard does not update main view"
When moving through the matches in the filtered view using the `j`/`k` hotkeys, the main view is not updated. I tried pressing `enter` or `space`, but nothing happens.

When I click on a line in the filtered view, however, this works.

[2016-08-11 10:12] bannmann commented on #123
I'm on Windows, if that matters.

[2016-08-25 19:30] Fordi opened #124 "[Feature request] Better command line arguments"
I use glogg for viewing log files from a web application I'm involved in building.  There's actually four files to deal with.

In an earlier version of glogg, calls subsequent to an initial call would open the file in a new tab.  That was a neat feature.  Currently, each opens in a new window.

If I try to pass more than one file, glogg fails with "too many positional arguments" - which seems...

[2016-08-25 19:32] Fordi commented on #124
Note: I will likely be forking this and attempting crude implementation of these options.  I kinda _really_ want this kind of power from scripts.

[2016-09-22 09:35] mathdesc opened #125 "[feature request] Printing"
Hello,

The whole idea of glogg is to parse & colorize logs. I like to use it during soft dev. to do pattern recog and dataflow/state characterisation on a live system.
But I really feel like it is missing a print menu entry to print with the color filters set up the logs on paper.
For me this is actually important I tend to use the resulting print as a scratchpad and chart along in the margin som

[2016-09-26 01:13] Mark-Hobba commented on #116
I have the same problem and it prevents me from using glogg.  Such a pity since it looks like such a great tool overall, but I need to be able to see that last line of my log files.

glogg 1.1.1-x86_64
Windows 7, 64bit, fully up to date with updates.

[2016-10-18 09:59] mniak opened #126 "Feature request - Option to empty the file"
If i could clear the contents of the file with a keyboard shortcut or menu item, it would be great.

[2016-10-23 13:40] rgwood1234567890 commented on #116
Thanks for the great tool!

I have also noticed this on 1.1.1 64 bit windows. Files are ACSII and a simple "tail <filename>" in bash shows the correct last lines.

Maybe this tool assumes a "\r\n" at the end of a file as opposed to just the last byte of the last line?

[2016-10-23 14:50] variar commented on #116
This is the result of scrolling algorithm. Scrolling is done not per pixel but per line. And scrolling position is adjusted so the **first** line in search results is fully visible. This obviously makes last line cut off sometimes.

[2016-10-24 02:27] rgwood1234567890 commented on #116
In my case this was not in the search area; it was in the main text view panel.

[2016-10-24 02:32] rgwood1234567890 commented on #116
For example, the last line I see in glogg is "16874593,521828,0"

$ tail clicks_train.csv
16874591,397506,0
16874591,483448,0
16874592,82851,0
16874592,153244,1
16874592,167294,0
16874592,186600,0
16874593,151498,1
16874593,282350,0
16874593,521828,0
16874593,522693,0

$ tail clicks_train.csv | hexdump.exe
0000000 3631 3738 3534 3139 332c 3739 3035 2c36
0000010 0a30 3631 3738 3534 3139 342c 3338 3

[2016-10-24 02:45] rgwood1234567890 commented on #116
The "-C" makes more sense:

[code]

[2016-10-26 03:47] Mark-Hobba commented on #116
@variar, the last line not being visible/scrollable happens every time I open a log file with glogg on windows, ie it is not connected to using the search function at all.  If I just open a log file, drag the scrollbar thumb down to the bottom without doing anything else, the last line is cut off or has only a couple of pixels of the top of the line visible.
I imagine a quick hack fix would be to

[2016-10-26 07:53] nickbnf commented on #116
@Mark-Hobba this is happening across all OSes in the latest version, as @variar said this is because of the way lines are drawn and scrolled. An easy workaround is to resize the window slightly to make the last line visible, that will work every time but obviously is not ideal. I am working on a fix now.

[2016-10-26 17:19] #116 closed

[2016-10-29 19:57] labyrinth-to-solve opened #128 "Compilation error"
src/main.cpp:25:37: fatal error: boost/program_options.hpp: No such file or directory
 #include `<boost/program_options.hpp>`

Debian Jessie, version 3.16.0-4-amd64

[2016-10-29 21:47] sjrdc opened #129 "Memory increase upon reload"
When reloading over and over again on win7 the occupied memory keeps increasing until at some point the application crashes

[2016-10-31 12:47] nickbnf commented on #128
Have you tried after installing boost dev packages?

[2016-10-31 12:47] nickbnf commented on #129
Thanks for the report, this is correct, I did find a leak. Will commit a fix soon.

[2016-10-31 17:25] nickbnf commented on #120
It is! What platform are you running?

[2016-10-31 17:28] nickbnf commented on #118
I have just tried and if nothing is selected in any window, 'f' is ignored the first time, but works if pressed a second time. Is it the behaviour you are seeing?

[2016-10-31 17:30] nickbnf commented on #117
This is an issue on 1.1.0 and has been fixed by 8ea5bc4cf192a6c6287db6ac5c56058f9d88fd6f

[2016-10-31 17:30] #117 closed

[2016-10-31 17:56] nickbnf commented on #107
@variar's patch now merged.

[2016-10-31 17:56] #107 closed

[2016-10-31 19:18] rnyberg commented on #118
That was how it used to work, it no longer works at all.

[2016-10-31 20:15] #123 closed

[2016-10-31 20:15] #129 closed

[2016-10-31 20:21] nickbnf commented on #118
I can't reproduce the issue on my Ubuntu 16.04 box, but I don't use Unity, maybe it has something to do with the common menu bar ('f' is a shortcut for a menu option), I'll investigate...

[2016-11-02 23:58] Mark-Hobba commented on #116
Thank you so much for fixing this!  I tried it in 1.1.2 just now and it is very much appreciated.

[2016-11-03 07:27] e-orz commented on #118
I took the latest from today. The issue is still the same.
It never works even if I press f several times.

[2016-11-08 18:29] darickard opened #130 "[Feature Request] Save/Restore Window size and location"
It would be great if the saving and restoring of the Glogg window size and location could be added so that, when launched, the window size and position is the same as when Glogg was last running. This is a pretty standard feature of most Windows apps (not sure about Mac & Linux).

Thanks for a great app!

[2016-11-14 13:34] nickbnf commented on #121
Which version/platform? Can you still see this on the latest version?

[2016-11-14 13:40] nickbnf commented on #115
Which version are you using? Versions prior to 1.0.3 had significant problems when dealing with (very) big files, this should now work fine on newer versions.

[2016-11-14 13:48] nickbnf commented on #113
Thanks, but as you explained in the thread, it is an issue with packaging for Fedora, and as I understand it not specific to glogg.

[2016-11-14 13:48] #113 closed

[2016-11-16 07:53] kwill opened #131 "Open multiple files from command line"
I am logging multiple applications. Some applications generate multiple logfiles, not necessarily in the same folder. I'd like to launch a separate instance of glogg for each application, with all logfiles for that application in that instance.

A simple solution would be to make a Windows shortcut calling `glogg.exe C:\path\file1.log C:\path2\file2.log` -- but this didn't work, and I couldn't fin

[2016-11-17 00:35] guillaume-chevalier commented on #115
It is an old version:
`$ glogg --version`
`glogg 0.9.2-1`
It may be interesting to update the version on `apt-get` then

[2016-11-26 15:06] nickbnf commented on #109
Thanks for the report, the only reason why glogg keeps the file open is  performance. It is WAY slower to close and reopen the file every time glogg needs to redraw the screen. Interestingly this is what happened before 1.0.3 (see 90684c57709690a27f98f805e2b36754ca845348 where I did the change and mentioned some perf measurements).
Note this is only a problem on Windows, sensible OSes like Linux o

[2016-11-26 15:08] nickbnf commented on #100
Is it still happening on recent versions? A number of bugs have been fixed. If it does, we should try to investigate.

[2016-11-30 18:57] nickbnf commented on #110
Do utf-16 (I understand Windows generate some) files typically include a BOM as a first character?

[2016-11-30 19:01] nickbnf commented on #112
This is interesting as it is the first time I hear of such an issue on Linux.

Which command/app is generating the file? Is it on a local filesystem? Can you tell me how I can reproduce the problem?

[2016-12-01 21:34] variar commented on #120
Some screenshot could also be helpful. Qt should use nice fonts by default.

[2016-12-02 14:59] variar commented on #110
Usually BOM is present. However, one migth be opening partial log file where BOM is not present. One real world example is getting last lines of log from in-memory buffer stored in crash-dump.

[2016-12-02 15:23] variar commented on #110
This 'line feed' encoding trick is actually needed not to detect encoding but to avoid having big switch-case for mapping specific encoding to its character width which is essential for building correct line index. Encoding is either detected by Qt (for UTF variants) or selected manually.

Check https://github.com/variar/klogg/commit/0610721139e53bd0707f42a0d86b3cb4b25d43e8 IndexOperation::doIndex

[2016-12-02 16:03] variar commented on #130
Hi!
Which version are you using? Is checkbox "Load last session" in Tools->Options checked? Quickly looked through source code and in seems that requested feature is there, but it is enabled only if glog is loading last session at startup.

[2016-12-02 16:12] variar commented on #122
I'd like this for all archive files because in our company logs are attached to bug-reports as zip/7z archives and having to unpack them before opening is pain :) However, I don't see how this can be achived using current line indexing.

[2016-12-02 19:21] darickard commented on #130
Thank you for the response.

I'm using v1.1.2-x86_64 on Windows7. I've tried it with and without "Load last session" checked, but it doesn't work either way.

Even if it did, I would suggest decoupling the window size and location restoration from that feature since the user may want the window size and location to be the same on each startup but not want to open the last opened file. For me, I do

[2016-12-05 17:49] pkaramol opened #135 "File not followed"
Using glogg 1.1.0-1 as installed from official repositories of Ubuntu 16.04.01
File is not autoreloaded. When monitored file changes, program hangs and after trying to manually srcol, it is updated.
Tried to build from source but latest error is:

[code]

[2016-12-08 20:50] variar commented on #135
Hi, what version of Qt are you using to build glogg from source? It seems that AA_UseHighDpiPixmaps appeared in Qt 5.

[2016-12-08 21:07] Sadi58 commented on #124
I'd also like to see that very much, and this issue is mentioned here as well: #131
Maybe you can join forces with @variar here: https://github.com/variar/klogg ;-)

[2016-12-08 21:15] Sadi58 commented on #131
If you are not particulary interested in opening new tabs, you should be able to do that like this:
[code]
It does work under Linux (Ubuntu).

[code]

[2016-12-09 19:31] variar commented on #131
If you want to open several files in one instance of glogg you can create a cmd-scipt (.bat) with something like this:

[code]

From here it can be expanded to accept any number of log files using for-loop for script arguments.

p.s.
not tested above code, might need some more hacking :)

[2016-12-09 19:43] Sadi58 commented on #131
@variar any chance of doing that in bash script (.sh) as well?
Something like `glogg 'file1.log' & glogg 'file2.log'` results in multiple instances.

[2016-12-09 20:17] variar commented on #131
@Sadi58 this one works for me
[code]

When first file is open glogg starts listening for incoming connections through some platform-specific IPC (dbus on linux, something similar on other platforms). Every following instance passes a filename to the first one and silently dies unless -m flag is specified on command line.

[2016-12-09 20:33] Sadi58 commented on #131
@variar  thank you very much.
I guess the first line sets the path to glogg binary/executable, which is `/usr/bin/glogg` in my case.
So if I name this script as Glogg and place it under `~/.bin`, shall I use it like this: `~/.bin/Glogg "file1.log" "file2.log"` ?
As this also results in multiple instances, I guess I'm missing something.
Sorry, a beginner in bash scripts here ;-)

[2016-12-09 20:45] variar commented on #131
Calling looks fine for me. You might need to increase sleep delay (try something like 1 for 1 second and decrease it gradually) to allow first instance to set up d-bus properly.

Also what version of glogg are you using? And while glogg is launched are you able to find its dbus endpoint?  This long command
[code]
should print
[code]

[2016-12-09 20:55] Sadi58 commented on #131
I'm using version 1.1.0 in Ubuntu repositories, and that command returns nothing, I just get a new empty line in terminal window.

[2016-12-09 21:10] variar commented on #131
Does launching glogg with -dd switch produce something about D-bus? On my machine first launch prints
[code]
Launching second instance prints
[code]

glogg can be built without d-bus support, but I can't find what build options were used for ubuntu package

[2016-12-09 21:16] Sadi58 commented on #131
Hmm, there's probably a problem here, as I get 263 lines of -mostly- DEBUG warnings starting with these:
[code]

[2016-12-09 21:27] variar commented on #131
It looks like that ubuntu package is built without dbus support. Logs from src/dbusexternalcom.cpp have been there since 2014, so they should be in glogg debug output if dbus is enabled during compilation.

[2016-12-09 21:30] Sadi58 commented on #131
OK, thanks a lot for the effort anyway.
I can do with the start with last session until that feature arrives.

[2016-12-10 18:52] riantsoa opened #137 "Search trough multiple files at the same time"
I use glogg all the times in my previous job, but now i want to know if there is a function or can it be possible to implement search through multiple files at the same time?
Thanks

[2017-01-03 10:03] wiz0u commented on #109
This is a real issue for me as well. My logging system tries to rename or delete the daily log file at the end of the day but if someone is still watching the log file with the latest version of glogg, the file operation fails because the file is kept open by glogg.
We had to revert to glogg 1.0.2 :(

[2017-01-11 05:12] rockus123 opened #138 "Feature Request - Theme or colour settings"
Hi,

Some background and foreground are taken over by Linux default theme, causing font against background hard to see.  Please give us the option to set the overall background and foreground colour on all the portion of the log ui.

Thanks.

[2017-01-27 09:16] Avinash-Bhat opened #139 "tab switching using Alt+<num> keys"
Using the Alt+<Num> keys to switch between the tabs will be very helpful to the mostly-uses-only-keyboard users.

I have selected the Alt+<Num> keys as it is an accepted shortcut for fast switching between tabs in other applications like chrome(ium), sublime text, ...

[2017-01-27 11:59] driessen opened #140 "Feature request: Jump to marked line"
A keyboard shortcut that jumps to the next marked line. If no more marked lines jump to first marked line in file.

[2017-01-27 12:05] driessen opened #141 "Feature request: Limit searches to section of file"
Often, I have a big log file and I know in which section I want to search. Typical example is that I want to see what happens to "widget" between two events or timestamps. I'd like to first search to find the events, timestamps or whatever limits my section, mark these lines as section-begin and section-end, and then have all search commands be limited to this section. If only one of section-begin

[2017-01-30 13:40] gieniowski commented on #111
I would really love to have this feature implemented. I know that this is viewer, but quite often I want to start with clean log session in order to have clear overview of what is happening in app since some point. And I am talking from a developer point of view, so probably this feature could be useful not only for testers.

[2017-02-01 08:58] bilbothebaggins commented on #111
I love it that I can confidently open a log file and be sure the tool doesn't mess with it. Keep that out of my log *viewer*, please.

[2017-02-13 15:32] dunebaud commented on #135
Thank you for the answer, but I have downloaded Qt5 (qt-unified-linux-x64-2.0.5-online.run) and I installed qt5.8 it into /home/baud/Applications/Qt
After that I added the following into `~/.profile`
`export PATH=$PATH:/home/baud/Applications/Qt/5.8/gcc_64/bin`
then I reload it: `source ~/.profile`
Unfortunately, I have the same build error... what should I do?
when I grep the file on qt5, nothing

[2017-02-13 16:46] dunebaud commented on #135
I could find the solution, I had to use: `/home/baud/Applications/Qt/5.8/gcc_64/bin/qmake` instead of `qmake` alone...
After that, I got another error: `'QtGui/QAction' file not found #include <QtGui/QAction>`
To solve it, I had to add
`CONFIG += qt
QT += gui
QT += widgets
`
in ./glogg.pro
then after that:
/home/baud/Applications/Qt/5.8/gcc_64/bin/qmake
make clean
make
`
...and I got it!!!
`

[2017-02-15 11:41] glogg-user opened #144 "compile error"
hi, trying to compile on an PCLinuxOS getting following error

uname -> Linux 4.6.3-pclos1 #1 SMP Fri Jun 24 15:24:36 CDT 2016 x86_64 x86_64 x86_64 GNU/Linux

[output from qmake]

Project MESSAGE: Building using system dynamic Boost libraries
sh: line 0: type: markdown: not found
Project MESSAGE: markdown not found, HTML doc will not be generated
g++ (GCC) 4.9.2
Project MESSAGE: g++ version 4.7 or

[2017-02-16 09:55] senhalil opened #145 "Open a file from command line (with relative path)"
In macos terminal, to open a file with glogg, one needs to give the full path of the file which is really inconvenient sometimes.  I don't know, maybe I am doing something wrong. I use the following code `open -a glogg --args /full/path/to/the/file`.

For example, one can open the same file sublime text as follows `open -a "Sublime Text" file`. Note that the command uses a relative path and the `-

[2017-02-21 17:09] Zero3 opened #146 "Binary distribution security"
It would be appreciated if there was more security around the distribution of the glogg binaries. For example, the Windows executable linked from the website is unsigned and is served over HTTP. I would love to use glogg on production servers, but executing binaries distributed in this way makes me somewhat uneasy.

I suggest the following 2 improvements:

1) Only serve the website and binaries ov

[2017-03-01 16:29] itaybiancovonage opened #147 "feature request - favorites + more minor stuff"
there are 2 features from logexpert for instance which are sorely missed in glogg:
1) favorite filters - history is a good thing that exists, but favorites are really needed as well
2) tap on main view to move to closest line in filtered view

also, the tail view on MAC at least doesn't work very well, and just loads chunks of data every once in a while instead of doing a real on the fly tail.

[2017-03-10 11:14] nickbnf commented on #144
Could you please check which version of Qt your distribution have? (`qmake  --version`)

A quick fix would be to comment out the faulty line in main.cpp, but you might encounter problems with supporting High DPI screens.

[2017-03-10 17:43] nickbnf commented on #139
Chrome uses Ctrl/Cmd 1-9 and Cmd/Opt >/< to switch tabs, and so does glogg! But testing this I realised there was a bug on macOS preventing this from working, now fixed.

[2017-03-10 17:43] #139 closed

[2017-03-13 06:35] glogg-user commented on #144
here my version -

qmake --version
QMake version 2.01a
Using Qt version 4.8.7 in /usr/lib64

thx

fritz
(-:fs)

[2017-03-13 11:41] tishun opened #148 "Window changes it's size when new file is opened"
Hey there, love the app! There is only one issue that really bugs - when I maximize the glogg window and then proceed to open a new file (not via the File -> open, but instead double click on a log file in windows file explorer) the window changes its position and size.

I saw that there is a similar issue #130 already logged, although it deals only with the initial start of the program. I have tr

[2017-03-17 16:15] nickbnf commented on #148
Interesting, I just tried on Win7 and it all works fine, I wonder if it's a specific problem to W10. Anybody else has seen the problem?

[2017-03-17 16:45] nickbnf commented on #120
Please re-open if it is still a problem, most people are happy with the fonts.

[2017-03-17 16:45] #120 closed

[2017-03-17 16:45] nickbnf commented on #128
Closing as probably a config issue.

[2017-03-17 16:45] #128 closed

[2017-03-17 16:46] nickbnf commented on #126
As mentioned in other threads, glogg, as a viewer, won't touch the file it is reading, sorry...

[2017-03-17 16:46] #126 closed

[2017-03-17 16:49] nickbnf commented on #144
New versions of glogg require Qt 5 to be built. Depending on your distribution you might need qmake-qt5, qmake5 or something similar.

[2017-03-17 16:49] #144 closed

[2017-03-17 16:54] nickbnf commented on #146
I will consider switching to https on the website but probably won't bother getting a certificate on Windows as I don't use the platform. The MD5 for the installer is distributed in the release email, it's not foolproof, but considerably reduce the risk as the email is archived in Google Groups. I'll also sign the email from now on.

[2017-03-17 16:54] #146 closed

[2017-03-17 16:58] nickbnf commented on #100
Closed as not reproducible.

[2017-03-17 16:58] #100 closed

[2017-03-17 16:59] nickbnf commented on #138
How would like that? A 'default' item at the bottom of the filter list?

[2017-03-17 17:06] nickbnf commented on #122
Indeed, this is highly desirable and I have been thinking about how to do that for a while. Indexing is fine as you can stream the file whilst indexing. The problem is the display, which is done by reading a small, arbitrary part of the file, this is difficult to do on a compressed file unless the compressor as put some marking in it. But I'm still trying to find a solution (which is not to decomp

[2017-03-19 15:55] #130 closed

[2017-03-20 12:25] tishun commented on #148
I seem to recall that I had the same issue with Win7, but I am not entirely sure.

[2017-03-20 15:49] rob3rtb commented on #148
Hi, I get exactly the same problem on Windows 10 glogg version 1.1.2-x86_64

[2017-03-21 15:47] nickbnf commented on #85
This has been fixed a while ago.

[2017-03-21 15:47] #85 closed

[2017-03-21 15:49] nickbnf commented on #43
This should have been fixed a while ago.

[2017-03-21 15:49] #43 closed

[2017-03-21 15:50] #35 closed

[2017-03-21 16:03] nickbnf commented on #65
@albertasva, @xAA55 which app are you using to generate the file glogg follows?

[2017-03-21 16:03] nickbnf commented on #114
Closed as a duplicate of #65.

[2017-03-21 16:03] #114 closed

[2017-03-21 16:06] nickbnf commented on #135
@pkaramol can you describe a reproducible scenario (including generating the file to follow...)? a screencast might help.

[2017-03-21 22:00] #65 closed

[2017-03-21 22:22] nickbnf commented on #148
I've fixed #130 in d1edc4fc7754897c93766534d94609fa554a8f80 and also changed the code slightly to size the window before drawing it, as recommended by the Qt doc. It might solve the problem. Everything is fine on Linux/Mac/W7 and I can't test on W10 so do let me know.

[2017-03-21 22:38] variar commented on #141
Hm, I've actually implemented this in my fork (used to work with multi-gigabyte log files). Implementation has some UI issues but search works as expected. I can create a branch with just these changes to be merged to glogg.

[2017-03-23 08:27] tishun commented on #148
Is this part of some update that I can try out?

[2017-03-23 10:21] nickbnf commented on #148
It is in the latest v1.1.3.

[2017-03-23 14:27] tishun commented on #148
Unfortunately still having the same issue with v1.1.3-x86_64

Although, to be fair, when the window is initially loaded it applies the last size / position.
However when I maximize it, and then double click on a file in the file explorer, it reverts to the same position the application was started in.

E.g. steps:
1. Open the app, resize and move the window to the bottom, double click - no issues,

[2017-03-26 14:16] Zero3 commented on #146
@nickbnf Alright. Looking forward for the HTTPS upgrade.

You should be aware that MD5 is *not* a safe hashing algorithm for this purpose anymore. On the contrary, it will give a false sense of security, since it is now trivial to produce another binary with the same hash. Please see https://en.wikipedia.org/wiki/MD5#Security for more info.

[2017-03-29 07:33] svatauli opened #149 "Error"
Hi,
sometimes glogg create this https://ibb.co/cMyL5a exception.

version: 1.1.3

SU

[2017-03-29 12:19] Zero3 opened #150 "Searching while index is being built causes results to be missed"
After opening a big file in glogg, there will be a progress bar at the top saying something about an index being built. If you start a search from the search bar at the lower half of the main GUI while this is being done, the results will be incomplete. If the search is re-done after the indexing is done, new results will appear.

It would thus seem like glogg misses all results that are not yet i

[2017-04-02 05:00] pavelvasev commented on #149
In my cases this bug occurs when monitored file recreated by another program.
E.g. the file opened by that another program with "write" flag.

[2017-04-03 19:14] Lightjohn opened #151 "Messed printing when following deleted and recreated logs"
Hi,

I'm working and debugging an application and from time to time I delete the logs and the application will recreate them seconds later.
But the problem is that glogg is missing the new lines characters and so the printing is bad.

I'm using the latest version from the git.
I know it's not an usual way to work and just wanted to let you know that.

[2017-04-03 19:15] Lightjohn commented on #79
I think it's a better idea to look at sshfs :)

[2017-04-03 19:35] variar commented on #79
+1 for sshfs )

[2017-04-04 12:05] svatauli commented on #149
Probably yes, I use glogg to watch log in running application. So when application creates new log file by log settings, glogg should be hide this exception.

[2017-04-06 18:57] petertirrell commented on #52
Seconding this.  I didn't even realize there were keyboard shortcuts like that; I kept trying ctrl-G to jump to a specific line in a large file to no avail.  At least now I know.

For what it's worth, the `[number] g` jump to line number command isn't working for me if I use the numpad; only the main number row.

[2017-04-08 16:21] egorlitvinenko commented on #115
It's the last version in Ubuntu repository. It will be wonderfull, if you upgrade it.

[2017-04-08 16:27] variar commented on #115
It seems that there is package for version 1.1.0 here https://www.ubuntuupdates.org/package/core/yakkety/universe/base/glogg

[2017-04-09 11:07] egorlitvinenko commented on #115
Unforunately it's not compatible:
http://pix.toile-libre.org/upload/original/1491735969.png

The error is "Unresolvable dependency".

[2017-04-10 14:08] variar commented on #115
@egorlitvinenko which version of Ubuntu are you using? I've posted a link to glogg package for 16.10.  According to http://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=glogg&searchon=names package for version 1.1.0 exists since 16.04. Unfortunately there is no package for older versions.

[2017-04-10 14:22] jlanzarotta commented on #101
this would be a fantastic feature.  having a truly "portable" version would be awesome.

[2017-04-11 08:10] egorlitvinenko commented on #115
I use 14.04

[2017-04-11 11:44] nickbnf commented on #115
I don't know of anyone maintaining new versions of glogg for older ubuntu version (ppa or backport) although that would be very useful if someone want to volunteer!
@egorlitvinenko you can build the latest from source though which is quite simple (see README).

[2017-04-11 11:44] #115 closed

[2017-04-11 11:48] nickbnf commented on #149
This is bad. I'll try to debug it but I need as much information as possible or, ideally, a reproducible scenario. Could you tell me:
- What application is generating the changing log.
- How often is the fault appearing.
- When is it appearing (after a long time, immediately, it depends...).
- Is it new in 1.1.3 or had you noticed the problem on earlier version too.
- What OS version (I assume Win

[2017-04-11 13:01] pavelvasev commented on #149
* What application is generating the changing log.
Custom application. When it starts it opens log file with "w" flag and immediately closes it. Then, every time a log record appears, the application reopens log file with "a" flag, writes data, and closes it.

* How often is the fault appearing.
Everytime the custom application starts.

* When is it appearing
Right after custom application starts.

[2017-04-11 13:11] pavelvasev commented on #149
Program to reproduce the bug: `a.cmd`
[code]
How to use:
1. Run the program.
2. Open the log file in Glogg.
3. Run the program again, and see runtime assertion window.

[2017-04-11 15:58] vbu commented on #145
+1. I use glogg heavily but this limitation doesn't allow to set association for 'Open With.." to all my log files (so that when I double click a file with '.log' extenstion, for example, it gets opened in glogg automatically). I have to manually drag them into already opened glogg window.

[2017-04-12 10:28] egorlitvinenko commented on #115
@nickbnf Ubuntu 14.04 isn't old it is LTS and will be actual to 2019 year :)
I tried to build, but build fails with README instruction. I think it simpler to use docker with Ubuntu 16.04 and already built version.

[2017-04-14 20:08] nickbnf commented on #149
Thanks @pavelvasev, I can't reproduce the problem on my virtual machine but I suspect a race condition when the file is re-created. Could you please produce a log by running glogg this way: glogg -l -dddddd
It will produce a log in the same directory (glogg_xxxx.log).
Thanks a lot

[2017-04-15 19:06] bristolweb commented on #151
I have a similar problem. I upgraded recently to 1.1.3 from 0.9 on linux Mint 17.3 (Rosa). Reason for upgrading: I needed more than the 5 logs easily available from 0.9. I really like the new 1.1.3 tabs for selecting each log! :)

Version 1.1.3 seems fine except that every time one of the logs is rotated (ie most mornings depending on the log) I have to drop glogg and reload it. Not a major proble

[2017-04-16 04:45] pavelvasev commented on #149
Hi @nickbnf ! Thank you for your help! Here are 2 log files:
* [glogg_11200.log.txt](https://github.com/nickbnf/glogg/files/924089/glogg_11200.log.txt)
* [glogg_4612.log.txt](https://github.com/nickbnf/glogg/files/924088/glogg_4612.log.txt)

[2017-04-20 15:38] kriebb opened #152 "Search with regex, multiline"
Hi,

at the moment, the regex search functionality seems to applied on one line only
https://github.com/nickbnf/glogg/blob/master/src/quickfindpattern.cpp

But wouldn't it be a nice feature, that a multiline search would be possible, somehow?

Maybe if multiline is to greedy to process, a combo of 2 regex matches could return all the lines between the 'start' and 'end' regex. ?

[2017-04-21 19:52] #149 closed

[2017-04-22 08:58] gitlost commented on #135
I think the second error above re `QtGui/QAction` was an artifact of the initial build, a `make clean` gets rid of it, so editing "./glogg.pro" isn't necessary. Here's what I did to compile the latest from source on Ubuntu 17.04:
[code]

[2017-04-22 17:15] nickbnf commented on #149
Thanks a lot @pavelvasev for your help, could you verify 1.1.4 that I have just uploaded fixes the problem for you? I'll write the announcement once verified.

[2017-04-23 18:21] pavelvasev commented on #149
Hi @nickbnf ! I confirm that 1.1.4 is working properly. Thank you very much for your attention and help!!!......

[2017-04-28 13:22] stevenmg opened #153 "Allow splitting lines with carriage return"
Currently glogg requires a line feed to split lines. This should be configurable to split lines with only a carriage return (useful for console output).

[2017-05-05 20:31] austinwagner commented on #109
I'd take slower performance over messing up log rotation because I kept a file open. Whatever the performance impact is, I doubt it will make it slower than the only other real competitor I've used: BareTail. Glogg has incredible search performance compared to BareTail which is the main reason why I'm dealing with the files being locked instead of using BareTail like everyone else at my workplace.

[2017-05-11 17:51] jlanzarotta opened #154 "Error: The process cannot access the file because it is being used by another process."
Hello,

If for example, I have a log file open in glogg and the log file rolls over at midnight, I get an exception saying that my application cannot access the log file because it is being used by another process...

Any ideas?  Thanks.

[2017-05-12 08:29] Kentoseth commented on #115
@egorlitvinenko do you still have the output of the failed-build on 14.04 ?

[2017-05-15 20:16] jlanzarotta commented on #154
Anyone else seeing this sort of thing happen to them?

[2017-05-16 13:56] yshinkarev opened #155 "Xubuntu x64 build"
Xubuntu 16.04 x64.
Install qt4-qmake and libqt4-dev.
Run qmake:
[code]
Run make (GNU Make 4.1):
[code]
Then I install libboost-all-dev too.
Try again.
Get another error:
[code]

Install qt5. Set: qtchooser -run-tool=qmake -qt=qt5
New error:
[code]
make clean help me.

[2017-05-16 14:48] #155 closed

[2017-05-18 09:27] variar commented on #154
Hi, see #109. File is kept open by glogg for performance reasons

[2017-05-18 10:38] sergei-dyshel opened #156 "More keyboard shortcuts"
Some shortcuts that I'm missing:
 - Moving between tab pages.
- Moving between normal/filter sections.
- Adjust splitter.
- Clean filter view (i.e. leave only pinned lines).

[2017-05-19 10:18] nickbnf commented on #151
Could you check if the problem is still happening with 1.1.4? A bug was fixed that might be the root cause for what you are seeing as well.

[2017-05-19 11:07] bristolweb commented on #151
Not sure how to download/install 1.1.4 - apt-get install just says "latest version installed". Could you give some idea, please? Linux Mint 17.3.

[2017-05-19 11:46] Lightjohn commented on #151
Compiling using latest git I get this version "Built 2017-05-19 from
624d1a5".
Nothing changed and it seems even a little bit worse: it was only filling
with blank line (happen twice).

So it seems for now that I will have to restart glogg at each logs reset.
But if I let it open long enough, it seems that the problem solve itself.

Thanks.

On 19 May 2017 at 11:18, Nicolas Bonnefon <notifications

[2017-05-19 11:50] Lightjohn commented on #151
Compiling using latest git I get this version "Built 2017-05-19 from 624d1a5".
Nothing changed and it seems even a little bit worse: it was only filling with blank line (happen twice).

So it seems for now that I will have to restart glogg at each logs reset.
But if I let it open long enough, it seems that the problem solve itself.

[2017-05-19 13:54] nickbnf commented on #156
- Moving between tab pages: Ctrl+Alt+Left/Right arrows (or Cmd+Option) or Ctrl-Tab/Ctrl-Shift-Tab, like Firefox.
- Moving between normal/filter sections: Tab/Shift-Tab (go through search bar)

Is it ok?

For the two others, I will add shortcuts.

[2017-05-19 13:56] nickbnf commented on #154
Yep, closed as a duplicate of #109.

[2017-05-19 13:56] #154 closed

[2017-05-19 13:57] nickbnf commented on #153
Could be useful indeed, but I have to find a way to allow the user to choose, without hurting the huge majority of cases where \n is what we want.

[2017-05-19 14:04] nickbnf commented on #151
OK, so we have a real problem here, the fact reloading is not doing anything is especially bizarre. Do you have a scenario where you can reproduce the problem 100%? I'll give it a try.

[2017-05-19 14:07] nickbnf commented on #150
This should work if "Auto-refresh" is selected, doesn't it?

[2017-05-19 14:11] nickbnf commented on #131
Closed as glogg now supports several files on the command line. I'll check whether ubuntu builds with dbus, it should.

[2017-05-19 14:11] #131 closed

[2017-05-21 07:39] sergei-dyshel commented on #156
*ctrl-tab* indeed works, somehow missed it :smile:
Moving between normal/filter secions with *tab* is possible but not intuitive - when pressing *tab* in normal section it moves to the following interface elements: filter text, search button, marks/matches dropdown, "ignore case" checkbox, "auto-refresh" checkbox and only then to filter section. It's much easier to just press *ctrl-tab* twice to g

[2017-05-21 12:53] sergei-dyshel commented on #156
And last, but not least: changing font size with *ctrl-scroll*.

[2017-05-23 08:51] JimyRyan opened #157 "Keyboard command "jump to the line number" does not work"
It is impossible to use the keyboard shortcut to jump to the line number given.

My computer is an updated Linux Ubuntu 16.04 LTS
I install the latest glogg version (1.1.4) that I build from sources

Bellow, my compilation / installation commands :

On files with more than 1 000 000 rows, the goto line function is very usefull.

[2017-05-23 13:57] nickbnf commented on #135
Can you confirm whether the problem is still seen on the latest version?

[2017-05-23 13:57] nickbnf commented on #121
Closed as non reproducible.

[2017-05-23 13:57] #121 closed

[2017-05-24 08:26] sergei-dyshel opened #158 "Tab titles unproportionally small on Linux"
Is tab title font size hardcoded or calculated by QT? On my system (Fedora 25, Gnome 3, Scaling factor 1.25) tab titles font is smaller than default UI font (I'd expect it to be the same).
![screenshot from 2017-05-24 10-56-26](https://cloud.githubusercontent.com/assets/6907277/26392660/0bf15e74-4070-11e7-8a11-550a278dbb47.png)

[2017-05-25 06:34] jeffjensen commented on #111
I regularly clear the log file while developing - I have the log file open in Notepad++ as well, switch to it, Ctrl-a, Delete, Ctrl-s.

Having a menu item to clear the log is a great feature for this, whether it only clears the memory buffer or actually removes the content.  Perhaps two menu options for both.

[2017-05-25 07:36] Sadi58 commented on #131
Great news! Now I have to wait until it arrives in Ubuntu repositories (which still uses version 1.1.0-1build3) or do a manual build...

[2017-05-26 10:51] pkaramol commented on #135
@nickbnf I removed and re-installed the application but version is again 1.0.1.
How can I try 1.0.3?

[2017-05-29 20:43] Zero3 commented on #150
Yes, it appears like the issue only occurs with auto refresh disabled.

[2017-06-01 08:11] pkaramol commented on #135
Here are the errors I am getting:

[code]

$ make
/usr/lib/x86_64-linux-gnu/qt4/bin/uic src/optionsdialog.ui -o .ui/release-shared/ui_optionsdialog.h
/usr/lib/x86_64-linux-gnu/qt4/bin/uic src/filtersdialog.ui -o .ui/release-shared/ui_filtersdialog.h
g++ -c -g -Wextra -std=c++11 -DGLOGG_VERSION=\"`cat .tarball-version`\" -DGLOGG_SUPPORTS_DBUS -DGLOGG_SUPPORTS_INOTIFY -O2 -Wall -W -D_REENTRANT -DFIL

[2017-06-05 14:19] nkolban commented on #83
Do we have an issue ID for the text wrapping ... I would like to vote that up?

[2017-06-10 18:42] sergei-dyshel opened #159 "Use QRegularExpression as regular expression engine"
During browsing the code I've found that `glogg` still uses `QRegExp` class, while Qt5 introduces new `QRegularExpression` class which leverages PCRE (with JIT capabilities).
AFAIU new class must have better performance.

[2017-06-13 23:10] gschneider-r7 commented on #145
Seems like qt events need to be used: https://stackoverflow.com/questions/26849866/unable-to-open-file-with-qt-app-on-mac basically Mac OS isn't sending arguments like you would expect on Windows or Linux.

I found that running from the command line like `/Applications/glogg.app/Contents/MacOS/glogg myfile.log` works, but doesn't return your terminal until you close the window.

[2017-06-19 13:07] CahootsMalone opened #160 "After checking "Ignore case", current filter's settings are applied to next filter selected"
In the filters window, selecting a filter, checking "Ignore case", and then selecting the next filter in the list applies the first filter's settings to the second filter.

![glogg_filter_bug_related_to_ignore_case_checkbox](https://user-images.githubusercontent.com/10852599/27286521-6ece363a-54ce-11e7-94a6-0f2bdedee251.gif)

Environment: glogg v1.1.4-x86_64 running on Windows 10 Enterprise

[2017-06-21 12:24] forty8bits commented on #159
This would also enable greedy quantifiers such as `*?` and `+?`, which is sorely missing currently.

[2017-06-21 16:53] #140 closed

[2017-06-21 16:53] #156 closed

[2017-06-22 11:39] nickbnf commented on #159
Done in 7cbb2ca4497ec8f4a20fe2586dec49657d3308cb

[2017-06-22 11:39] #159 closed

[2017-06-22 11:42] nickbnf commented on #141
I have an idea on how we could define "sections" in a file and operate on either or all of them, that would include search.

[2017-06-22 11:44] nickbnf commented on #110
Introduced utf-16 in 4a4a124ee3a37b84cecba5baf80e1ecc23769c38. Does anybody use UTF-32?

[2017-06-22 11:44] #110 closed

[2017-06-22 11:46] nickbnf commented on #119
Added in f25e35f2304d4fe5dd984cd59b86e6255c85ffe4

[2017-06-22 11:46] #119 closed

[2017-06-22 11:48] nickbnf commented on #97
Not sure exactly which format you are talking about but glogg now supports utf-16 and a few old Windows encodings.

[2017-06-22 11:48] #97 closed

[2017-06-22 11:48] nickbnf commented on #96
utf-16 now supported.

[2017-06-22 11:48] #96 closed

[2017-06-22 11:59] #39 closed

[2017-06-22 12:00] #41 closed

[2017-06-27 04:54] kofifus opened #161 "tab settings not working"
Using glogg v1.1.4-x86_64

Next to the tab name I have a settings icon (3 horizontal lines, I assume it is settings)
However clicking it does nothing.

IS that supposed to popup something ? if not it is a confusing icon and should be remove.

Thx!

[2017-06-27 15:01] nkolban opened #162 "Later glogg version past 1.1.0 from apt repositories"
I have installed the latest Glogg on Ubuntu by executing:

[code]

The version reported is 1.1.0.

I am finding that when the underlying file being watched is removed and replaced with a new one, glogg no longer follows correctly.   My next plan was to file an issue but then I noticed that 1.1.0 is < 1.1.4 which appears to be the latest.  My hope was to obtain and install a new "apt" installable o

[2017-06-28 13:11] hpaiss opened #163 "Feature request: allow to see in the filtered view window line before and after the current line - much like egrep option -A and -B"
Hi,
Is it possible to present line before and after the search result in the filtered view window  like egrep option -A and -B

Many time I 'egrep  -B 2 ORA-00354 alert.log' to be able to find also the date/time of an error:

-------------------------------------- Example ---------------------------
-3 : ARCH: Log corruption near block 97556 change 5961097804 time ?
-2 : **Wed Jun 28 07:57:07 2017

[2017-06-30 13:57] omellet opened #166 "Can't search on UNICODE encoded files"
I can open a UCS-2 encoded file, but search doesn't show any results. If I save the same file (in another editor) as UTF-8 or ASCII and reopen it in glogg, search works once again.

[2017-06-30 15:33] variar commented on #166
Which version are you using? It seems to me that UTF-16 support has been added only in 2f6fa4628fc30ec8c0de04db338125ee1e7f7ae8, and no build has been released yet.

[2017-06-30 17:22] omellet commented on #166
This is on v1.1.4-x86_64. If it's forthcoming then I'll just close the issue, thanks.

[2017-06-30 17:22] #166 closed

[2017-07-03 08:16] Moshe81 opened #168 "feature Request - Save my marked items"
Hi,
I love Glogg.
I wish that the item I mark in blow will remain if I close the log and reopen it.
I found my self doing the same operation again and again for one log.
Thanks
Moshe

[2017-07-04 08:58] Eraser3 commented on #148
I'm having the same problems on Windows 7 professional with Glogg version 1.1.4.
When opening a file from Windows Explorer the Glogg window resizes from maximized to whatever state it was before that.

[2017-07-10 10:40] #60 closed

[2017-07-10 11:50] nickbnf opened #169 "Continuous Integration using travis"
@variar how do you suggest I do that? Shall I try and cherrypick all your commits to do with CI or should I copy and add your travis config?

[2017-07-11 20:34] variar commented on #169
It is pretty straightforward process. Firstly, use account from github to register with http://travis-ci.org (linux + mac builds) and http://appveyor.com (win build). Then enable ci for glogg repository with all settings set to default. And finally, push configuration files (see PR  #170). Travis and Appveyor should notice new commit, pick up configuration and start building.

[2017-07-11 20:49] variar commented on #61
These commits address the issue to some extent 3bf7dbb0f313086d1cdb6cd38398da957a161aa9, 43a7b9ef7081db166db2c877d4770258250609de, e1d543d5616e6b391521e3a4a077c08cfb54020a.

Could try to prepare pull request for current master.

[2017-07-11 21:00] variar commented on #38
Seems like #122 has more useful information so this one may be closed.

[2017-07-12 09:25] nickbnf commented on #38
Closed as dup of #122

[2017-07-12 09:25] #38 closed

[2017-07-12 09:42] nickbnf commented on #61
Yes please @variar , I'll merge that in!

[2017-07-12 10:18] nickbnf commented on #169
Thanks, that seems to work!

[2017-07-12 10:18] #169 closed

[2017-07-16 20:58] #145 closed

[2017-07-26 02:47] selfagency opened #171 "feature request: log format specifications"
i use [winston](https://github.com/winstonjs/winston) for logging in node.js, which outputs logs in json format. this has worked great in [lnav](https://github.com/tstack/lnav), for which i was able to add [a simple format file](http://codegist.net/snippet/json/winston_logjson_p2kmgcl_json) to properly interpret the output. it would be great if there was a way to create such formats for different

[2017-07-27 13:55] selfagency commented on #171
well, the way lnav would represent the above is:

`7:19:55pm | info | Server listening on port 3030`

i've also noticed that glogg isn't automatically updating when new lines are added to the log and if i hit the refresh button, it's not loading in the new data in the log file i'm viewing.

[2017-07-28 03:58] kkokosz opened #172 "feature request: saving selected part of log"
It will be nice - I select part of logs and can save it to separate file (from preview area or search result area too). My logs are very huge (2-3GB) and selected parts are huge too - copying so many text by clipboard is confusing (and text editors hanging while pasting 400-500MB).

[2017-08-01 01:29] kofifus opened #173 "X on the right of search does not work"
Windows 10 creators - pressing X on the right of search does not work

Thx!

[2017-08-01 20:52] bcalmac opened #174 "File follow feature not working on macOS"
Enabling file follow with 'F' has no effect, I still need to reload the file to see updates. See the linked screencast that demonstrates trying to follow system.log:

https://youtu.be/my41-6gagBg

macOS: 10.12.6
glogg: 1.1.4

[2017-08-02 01:20] bcalmac commented on #174
I have done some extra testing and noticed the following:
- glogg detects when a file is open for append and reloads it
- while the file is open and lines are added, glogg is silent, you need to refresh manually to get the most recent line.

I've written a Bash function for testing. The function writes 5 lines with a sleep of 1 sec between them. Then I call this function in a loop. Glogg does not

[2017-08-08 16:37] Svish opened #175 "Load last session issues"
Trying this out and quite like it, but there are a few annoyances with the **Load last session** option:

* If a log is set to follow, it should follow when loading last session too. Now I have to "re-f" each tab when I open the program.
* When glogg is associated with `.log` files and I double-click a file ...
  * while the program is running maximized, the window ends up restored, i.e. no longer

[2017-09-13 03:14] k-h opened #177 "[Feature request] Open stdin correctly"
If I pipe a command to glogg, it opens but nothing is in the window.

It's be nice if this worked.  Also commandline fifos:

glogg <(command)

ie

glogg <(ls -al)

[2017-09-21 21:08] lukaszgrobelny commented on #137
I have similar thoughts in my mind. I like glogg's speed, but I miss two bullets:
- search through multiple files
- open multiple files at once (i.e. with Ctrl+Click on Windows)

I wonder how big effort it would be to implement those two bullets?

[2017-09-26 16:26] Lladnaar opened #179 "Feature request: keyboard shortcut for mark line"
Currently the only way to mark a line is to mouse click on the bullet to the left of the line. It would be useful to be able to do this by keyboard, especially when navigating using the vi commands. M would be easy to remember, and be similar to vi.

[2017-09-26 16:29] Lladnaar opened #180 "Feature request: navigate / scroll by cursor keys toggle"
JK navigate. Up/down scroll. Most windows users are used to up/down navigating. Ideally scroll lock could be used to toggle between modes (like Excel does).

[2017-09-28 00:19] gschneider-r7 commented on #145
I see this is closed with new code on master branch, is there an ETA for a new release that includes the changes? 😃

[2017-10-03 00:35] anthonybilinski opened #181 "Mass output of "QFile::open: File (/path/to/file) already open""
I've compiled locally off hash 6f5eaa808c6ed209d74f765babf09ca24d22e06b

After opening glogg from command line, I see 100s of the Qt error message over the course of a couple hours.

I'm using search with extended regexp, following file, and the file is being written to but not moved or anything. There is no observable behaviour problem.

[2017-10-13 17:47] bradx954 commented on #181
Can confirm I have this exact same issue with version "1.1.0-1+b2" in debian 9. Seems to happen after being open for about 30 seconds.

[2017-10-18 19:50] arthurspa commented on #168
+1

[2017-10-18 19:55] arthurspa commented on #73
+1 for a "starred filters".

I save my regex in some txt files because I reuse some of them frequently. If we have a way to "star" preferred filters would be nice.

[2017-10-19 14:29] rob-X1 opened #182 "Windows 10: Glogg can't be added to "Open With" context menu"
On Windows 10 it is impossible to to add Glogg to the "Open With" context menu - it only appears in the program list opened in a separate window).

IMHO this is definitely a bug of Windows however until this bug will be eventually patched someday a workaround would be good:

The reason for this behavior seems to be that the Glogg.exe does not contain a `VS_VERSION_INFO` resource. In that resource

[2017-10-24 11:50] AndreasWWW opened #183 "Feature request: Remember Follow Mode"
When I open a logfile with Glogg, Glogg always shows me the top of the file. But what I'm interested in is the end of the file. Sure, I just can press F to switch on the follow mode and it jumps to the end.
But I have to press f each time. That's a bit annoying and inconsequential. Because some of the other settings of the view menu are stored and reapplied when reopening.
So my suggestion is:
1.

[2017-10-24 11:52] AndreasWWW opened #184 "Feature Request: Remember Screen Layout"
Each time when I open glogg, it opens with around ¾ parts of the screen filled with the unfiltered log file and ¼ part with the filtered log file.   But I mostly want to use it with ½ ½.   So eachtime I have to drag the splitter in Glogg around to get the screen layout I want.
My suggestion is that Glogg would store the last screen layout and on reopening use the last screen layout.

[2017-10-24 11:54] AndreasWWW opened #185 "Minor bug: Consolas Font sizes not working"
In the options window (when I had selected the font Consolas the last time I used Glogg), the dropdown for the size is empty and I cannot select a size. See attachment. ![000759](https://user-images.githubusercontent.com/33058523/31941633-cd29cf52-b8c2-11e7-9e45-4e1c4380434c.png)
If I want to change the size, I have to select another font (e.g. Fixedsys). Then the dropdown for the size is populate

[2017-11-01 15:06] rnyberg commented on #174
Got the same problem. Also options/advanced menu is missing so I cannot check the polling options. The menu is visible on Windows, but not on OSX.

[2017-11-08 10:58] omasseau opened #188 "Selecting text with the mouse does not work correctly: Selection is always shifted to the right"
When I want to select text with my mouse to copy it, the selection does not start at the character under my mouse pointer but several characters to the right of it.
Same goes for the end of the selection.
This makes it really hard to copy some text from a line.

The more the start of the selection is to the right, the bigger is the offset.

[2017-11-08 11:09] variar commented on #188
Might be some text encoding issue. Could you provide a log file which causes this error?

[2017-11-08 15:23] rnyberg commented on #174
@nickbnf - is this even supposed to work on macOS? 2 months+ radio silence is weird.

[2017-11-09 11:52] omasseau commented on #188
Well I have the problem with any kind of file.
Even a simple file with one line of text such as the one attached. Encoding does not change anything.
I've tried UTF-8 files, Windows-1252, .... same problem.

[test.txt](https://github.com/nickbnf/glogg/files/1457462/test.txt)

[2017-11-09 11:54] omasseau commented on #188
I think it is a problem with the scale feature of Windows 10.
If I set it to 100% I don't have the problem.
But 100% on a 4k monitor is quite unreadable ;)

[2017-11-09 14:17] variar commented on #188
Might be Qt hidpi issue. I'll try to build glogg with recent Qt version.

[2017-11-09 22:09] variar commented on #188
I've managed to build a version statically linked with qt 5.9.2 (sha256 63ca6a2f4d7510ed6958bc1f43eb52e1d00a47d0865b439ca8484f11c3a2c8ad) . @omasseau could you try to it with 4k monitor?
Please note that is is built from my private development branch, not very well tested so I don't recommend it for everyday use.
[glogg_static.zip](https://github.com/nickbnf/glogg/files/1459363/glogg_static.zip)

[2017-11-10 13:05] variar commented on #188
I've set up dev build artifacts packaging from Appveyor CI builds in my fork. @omasseau, you can try latest build from here https://ci.appveyor.com/api/projects/variar/klogg/artifacts/klogg.zip. @nickbnf, I'll prepare PR to enable such dev-builds for glogg master branch.

[2017-11-26 21:19] variar commented on #175
Hi, @Svish. Which version of glogg on which OS are you using?
Replacing last session with new file if no other options are passed to first instance of glogg is indeed default behavior.  There is command line switch `--load-session` that can be added to command used to open `.log` files to force load last stored session.

Feature request to remember follow mode is better tracked in #183

[2017-11-26 21:37] variar commented on #174
On macOS glogg is using file watch provided by Qt. I've integrated [ Entropia File System Watcher](https://bitbucket.org/SpartanJ/efsw) in [klogg](http://github.com/variar/klogg) fork (9c60b3cd3017d940e90cae5632abdf16515e7d7d). Unfortunately, I don't have any computer with  macOS to test it. @rnyberg, @bcalmac  could you grab a build from CI and see if it works?
Binary --  https://s3.amazonaws.com

[2017-11-26 21:44] variar commented on #135
I've tried to use efsw library to monitor file changes. @pkaramol could you try and test it. Deb package from CI build server can be downloaded here https://s3.amazonaws.com/klogg.travis.build/variar/klogg/145/145.1/build/packages/klogg-1.1.3-r145-Linux.deb or just a single binary https://s3.amazonaws.com/klogg.travis.build/variar/klogg/145/145.1/build/output/klogg

[2017-11-27 11:20] Svish commented on #175
Latest Windows 10, and latest glogg as of originally posted.

[2017-11-27 11:41] nickbnf commented on #174
Good idea @variar re. efsw. File monitoring has never worked reliably apart from on Linux (using inotify), I've tried a number of options but to no avail. I'll try with klogg on the Mac.

[2017-11-27 11:44] variar commented on #175
You can modify registry key `HKEY_CLASSES_ROOT\Applications\glogg.exe\shell\open\command`. Adding `--load-session` to glogg command line should make it restore last session when open files by double click

[2017-11-27 14:35] nickbnf commented on #174
I tried on macOS 10.12 with @bcalmac's test script and I see same behaviour with efsw (klogg) and Qt (glogg 1.1.4). The file is detected when closed/reopened by the shell but not in between the lines.

[2017-11-27 16:30] variar commented on #174
esfw has two backends on mac: FSEvents and kqueue. It uses FSEvents by default. As far as I understand kqueue is more like inotify. I'll try to reconfigure the library to use kqueue.

[2017-11-27 19:11] #182 closed

[2017-11-27 20:09] variar commented on #174
Build with kqueue backend:

- binary https://s3.amazonaws.com/klogg.travis.build/variar/klogg/151/151.2/build/output/klogg
- dmg https://s3.amazonaws.com/klogg.travis.build/variar/klogg/151/151.2/build/packages/klogg-1.1.3-r151-OSX.dmg

Please, try it out

[2017-11-28 17:10] variar commented on #174
I quick idea about @bcalmac bash test. Could it be that `echo` calls  in `write-lines` function do not actually flush data to the file on disk? File must be flushed at the end of function and that might be the reason why glogg sees changes only after each iteration completes.

[2017-11-28 17:21] bcalmac commented on #174
Flushing to disk is up to the OS. It shouldn't be necessary. Try following the file with tail, it works just fine.

[2017-11-28 17:44] bcalmac commented on #174
I've tried the klogg dmg but it can't start because of a reference QT reference:

[code]

[2017-11-28 22:40] variar commented on #174
I've managed to get my hands on mac os setup. This allowed to rework bundle packaging. Please try this one: https://s3.amazonaws.com/klogg.travis.build/variar/klogg/dev/klogg-dev-kqueue.dmg

I can confirm that version with FSEvents backend does not refresh file on each `echo`, but version with kqueue seems to work as expected.

I've also managed to set up glogg_itests  to run on CI. With efsw they

[2017-11-30 20:20] variar commented on #184
Glogg saves log views layout per opened file in session. @AndreasWWW is this feature not working for you? Or do you mean that screen layout for new opened file should be the same as for the previous one? Another option is to add context menu item to set current layout as default for new files.

[2017-11-30 21:08] variar commented on #179
`m` was added as shortcut for mark line in 7552c461e028a0f633c5eebbcb1a22a5ac240290

[2017-11-30 21:21] variar commented on #177
Glogg expects random read access to opened file (file is never kept in memory). As far as I know pipes are not seekable. In theory glogg could read from the pipe, save data to temporary file and display its content, but it looks too cumbersome.

[2017-11-30 21:45] Lladnaar commented on #179
Thank you.

[2017-11-30 22:29] variar commented on #172
What encoding should be used for saved file? Could it be allways utf8 or should current selected display encoding be used?

[2017-12-01 13:18] variar commented on #168
Currently implementing this. Should marks be restored only on first file load or on any subsequent reload?

[2017-12-02 05:10] arthurspa commented on #168
I my opinion it would be better if the marks persist also after subsequent reloads.

[2017-12-02 20:39] variar commented on #168
Created PR. @arthurspa you can test in klogg dev builds:
https://ci.appveyor.com/api/buildjobs/gc9mrnfmtvj8k2b0/artifacts/klogg-17.12.0.193.zip
https://s3.amazonaws.com/klogg.travis.build/variar/klogg/193/193.1/build/packages/klogg-17.12.0-r193-Linux.deb
https://s3.amazonaws.com/klogg.travis.build/variar/klogg/193/193.2/build/packages/klogg-17.12.0-r193-OSX.dmg

[2017-12-02 22:16] Moshe81 commented on #168
Thanks - this is greate.
Any idea why I can not add Filters with this version ?

[2017-12-02 22:27] variar commented on #168
This is development build from master branch. I've done a lot of refactoring, and unfortunately there are only bare minimum automatic tests, so some features got broken (e.g.  Quick Find). I've created an [issue](https://github.com/variar/klogg/issues/23) for this.

[2017-12-02 23:11] variar commented on #168
@Moshe81 I've identified bad commit and reverted changes for filters dialog and quickfind. New build is ready:
[windows zip](https://ci.appveyor.com/api/buildjobs/5dbnm12b976j4v5g/artifacts/klogg-17.12.0.197.zip
)
[linux deb](https://s3.amazonaws.com/klogg.travis.build/variar/klogg/197/197.1/build/packages/klogg-17.12.0-r197-Linux.deb)
[mac dmg](https://s3.amazonaws.com/klogg.travis.build/variar/k

[2017-12-03 04:49] arthurspa commented on #168
I did not have time to test it, but I hope it gets merged and released.

Thank you @variar for implementing this.

[2017-12-06 13:38] sogko commented on #174
@variar
Jumping in here and the last klogg+kqueue build you share seems to be working for me (macOS 10.12.6)

[2017-12-07 04:44] zaz600 opened #192 "Fast Exclude popup Menu"
Please add item "Exclude selected" to the popup menu when there is a selected text
Add new Edit under Text edit with exclude patterns:
DEBUG|TRACE

![image](https://user-images.githubusercontent.com/1171520/33699118-2b0034dc-db22-11e7-9eba-16936573bd50.png)

i don't want to use regexp to exclude smth :)

[2017-12-07 15:23] nickbnf commented on #168
Thanks @variar, will merge that. Is keeping marks on closing/re-opening glogg the use case discussed here? Or are we talking about keeping marks for each file, even if the file is closed and reopened (like vim does for marks)?

[2017-12-07 16:01] variar commented on #168
@nickbnf  I've implemented saving marks only for opened files. Storing marks for all closed files forever might produce big configuration file with no way to clean it up.

[2017-12-14 21:17] bcalmac commented on #174
@variar

Sorry, I was away. Yes, I can confirm that it works for me too. I'm on High Sierra, 10.13.2.

Thank you!

[2017-12-19 11:03] AndreasWWW commented on #184
@variar: What do you mean by "saves layout per opened file in session"?  It seems this does not work for me. Always when I open a file, it opens with ¾ parts of the screen filled with the unfiltered log file and ¼ part with the filtered log file, regardless what I have used before with this file (or with any other file).
Is there any ini-file or the like where the screen layout should be saved?

F

[2017-12-24 19:54] yurivict opened #195 "QObject::connect: No such signal AbstractLogView::followDisabled()"
Version 1.1.4
OS: FreeBSD 11.1

[2017-12-24 19:55] yurivict opened #196 "Version mismatch: 1.1.4 exists on http://glogg.bonnefon.org/files/ but not here on GitHub"

[2017-12-24 21:07] yurivict opened #197 "Warnings: Already watching a file (/var/log/zeronet.log)!"
It looks like it tries to watch the same file multiple times?
[code]

Version 1.1.4
FreeBSD 11.1

[2017-12-24 21:41] yurivict opened #198 "[feature suggestion] Warnings/errors based on custom regexp criteria"
For example, allow the user to define a warning with such condition: ```smartd.*/dev/ada3```. This way all messages printed by ```smartd``` pertaining to the disk ```/dev/ada3``` will cause ```glogg``` to pop up the warning window.

[2017-12-24 21:44] yurivict opened #199 "[feature suggestion] Allow glogg to stay in tray when minimized"
Add an option "Stay in tray when minimized", so that the user can run it for a long time w/out seeing the window icon all the time.

[2017-12-24 23:35] yurivict opened #200 "Crashed on search in log files with 5 million lines"
The search progresses to 40%, then slows down and crashes.
FreeBSD 11.1

[2017-12-25 00:02] yurivict opened #201 "Doesn't sense log file truncation"
I truncated the file with ```truncate -s 0 {log-file}```, and glogg still kept showing the old content.

[2017-12-25 00:03] #201 closed

[2017-12-25 11:43] variar commented on #200
@yurivict could you upload your file somewhere and provide search pattern that caused that crash? Might be some FreeBSD issue.

[2017-12-25 18:41] yurivict commented on #200
I selected 5 sample lines from the log file. Please run this shell:
[code]

Then search for a common pattern there: TTL.
It stars very fast, but then slows down progressively, and never finishes.

[2017-12-25 22:25] variar commented on #200
As far as I understand the slowdown is mostly due to matches overview (the area near vertical scrollbar that shows approximate matching line positions). It updates on UI thread and processes all matches on every update thus getting slower during search. Refactoring this behavior is on my todo list for next klogg milestone (this is my fork, see issue [18](https://github.com/variar/klogg/issues/18))

[2017-12-25 22:29] yurivict commented on #200
I couldn't reproduce crashes when I tried today either. Unfortunately, I deleted the original file. But this slowdown is pretty bad as it is.

[2017-12-26 01:27] yurivict opened #203 "Gets confused when the log is turned over"
After the turnover event it just shows 3 lines of he old log.

[2017-12-26 04:04] yurivict commented on #203
When I deleted the log file on disk, and then it got recreated, the log display is inadequate. Broken lines, etc.

[2017-12-27 04:19] henrify opened #204 "Add proper color picker (e.g. QColorDialog)"
Currently, at least on Windows, the Fore Color and Back Color in "Filters" dialog are implemented as drop down menu, with small number of predefined colors.

Would be great to able to choose the colors freely, using proper color picker.

QT's built-in QColorDialog (http://doc.qt.io/qt-5/qcolordialog.html) seems like a very easy way for doing this. Thanks!

[2017-12-27 15:41] variar commented on #204
Looks like this is done in PR https://github.com/nickbnf/glogg/pull/194.

[2017-12-27 17:44] henrify commented on #204
Ah cool, i only checked open issues against duplicates.

Interesting timing though, glogg has been around for almost a decade, and then in span of two days there is independently a PR and a feature request about exact same thing.

[2017-12-27 20:56] yurivict opened #205 "[feature suggestion] Auto-start with desktop restart"
I believe, one way to do this is to create the .desktop file in ```~/.config/autostart/```. ```qTox```, for example, does it this way.

However, window managers have the propensity to auto-start such applications several times during restart.

You can create the desktop file  ```~/.config/autostart/glogg.desktop```
[code]
and, using DBus, ensure that it isn't started several times.

[2017-12-28 05:30] variar commented on #205
Glogg already uses dbus or socket ipc to avoid launching several instances. This is default when invoking glogg without arguments.

[2018-01-09 01:47] #171 closed

[2018-01-11 07:08] h4ck4life commented on #79
+1

[2018-01-11 13:25] sathish804 opened #206 "Feature Request: Word Wrap"
Dear Developer,

This is an excellent tool which I found for analysing the log files!!.

Please add the feature of Word Wrap.

Thanks in advance!!

Regards,
Sathish!!

[2018-01-19 15:18] yurivict opened #207 "Can't easily scroll up once reached the bottom"
After scrolling down with a mouse wheel, it is hard to scroll back up.
It feels like it 'sticks' to the bottom, and the user has to try scrolling up many times to actually scroll up.
There should be no such 'sticking'.

[2018-01-24 10:46] WtfJoke opened #208 "Last search result is not fully visible when horizontal scrolling is active"
First of thank you for your tool. It saves me a ton of time and its performance is awesome! 🥇

I have a small issue. I use glogg in version 1.1.0-1build3.

If you have an unformatted(or minified) xml and you search something. The last search result is not fully displayed. And you cant scroll further.

See this image for clarification (its not possible to see line 208 fully):
![Issue](http://i.imgu

[2018-01-24 10:59] variar commented on #208
This commit 9f0249b2be00dd32588facb5585bc2d3bf6626e5 should fix this issue.

[2018-01-24 11:17] WtfJoke commented on #208
Cool :) I will try the latest version and test it.

Thank you.

[2018-01-24 11:17] #208 closed

[2018-02-01 08:15] itaybia commented on #174
@varier
the klogg_kqueue build works for me as well, but has another bug, where if i tell it to Follow the file, and also Auto-refresh the filter, the Follow is disabled.
any chance to get both working together?

[2018-02-02 10:07] shvez opened #209 "Drag and Drop on Windows 10 Pro does not work correctly"
Hi, there.

Good and promising work. Currently i'm using Baretail pro.  but this soft also looks very good.

during try to use of version 1.1.4-x86-64 i found that when i drag and drop file to window not all files are opened. I had one file already opened. then i selected in folder already opened file and two other files. after dropping them to window one file was not opened by viewer.

best,
ilya

[2018-02-02 15:17] evandrocoan commented on #209
You can try use @varia's fork on https://github.com/variar/klogg, he did several updates on the last year.

I also used Baretail, but glogg performance was much better on my slow computer.

[2018-02-06 06:52] shvez commented on #109
Windows allows to open file with delete access. one needs to specify FILE_SHARE_DELETE for CreateFile api call.

[2018-02-07 13:17] austinwagner commented on #109
As far as I know that simply means that others who open the file handle
with request for delete access won't be denied. The actual delete operation
should still fail as long as any other handle to the file remains open.

On Feb 6, 2018 1:52 AM, "Ilya Shvetsov" <notifications@github.com> wrote:

Windows allows to open file with delete access. one needs to specify
FILE_SHARE_DELETE for CreateFile ap

[2018-02-08 10:37] shvez commented on #109
well, ok.
here is from MS Docs:
<doc>
The DeleteFile function fails if an application attempts to delete a file that has other handles open for normal I/O or as a memory-mapped file (FILE_SHARE_DELETE must have been specified when other handles were opened).
</doc>

i do not have time to check it my self, although i do not see any sense to have right for operation which you can not complete anyway

[2018-02-13 11:43] lennelei commented on #157
Hi,

Don't know if this can help, but switching keyboard from French to English did the trick for me!

However, that's not convenient...

[2018-02-13 14:48] nickbnf commented on #209
Where is it fixed on klogg? Isn't it a duplicate of #182 ?

[2018-02-13 14:48] nickbnf commented on #207
Yep, this is intended behaviour, either do not "over-scroll" down or press 'f' to unfollow.

[2018-02-13 14:48] #207 closed

[2018-02-13 14:50] nickbnf commented on #205
Is there anything more to do within glogg?

[2018-02-14 06:29] shvez commented on #209
It is not fixxed in klogg
and i do not think it is duplicating this issue.  Drag&Drop works for one file, but does not work for many.  Probably you did not expect that someone will drag many files

best,
ilya

[2018-02-14 08:50] nickbnf commented on #209
OK, yes multiple files is not implemented, I'll look into it.

[2018-02-14 16:03] #183 closed

[2018-02-14 16:07] nickbnf commented on #196
Now fixed

[2018-02-14 16:07] #196 closed

[2018-02-17 21:52] bilbothebaggins commented on #109
I can confirm from personal dev experience that FILE_SHARE_DELETE allows a file to be deleted (actually "deleted") while being handles are open. The problem is, this won't help, because while the OS *will* honor the delete request once all handles have been closed, while the file is still being held, it's name is still there and *not* ready for reuse.

[2018-03-09 10:35] NeuralMX commented on #109
Hello, any news on the "don't keep the file open" option? I've got a similar issue with rotating Log4Net logs: if I keep them open in glogg, the rotation doesn't occur as the files are locked. I'll temporarily solve this forcing a glogg process termination on my client machine before the rotation time, but having an option would be great.

[2018-03-09 18:01] thehomerepot commented on #195
This is resolved in 51fe49c1883150e3caabad6e90c03ffd896d288a

[2018-03-09 18:06] thehomerepot commented on #181
Same issue on both stable 1.1.4 and the latest from git master. All I do is select "Follow file" and it starts happening.

[2018-03-15 08:38] wiz0u commented on #109
Please @nickbnf, add this as an option.
Any serious company has a rolling/rotating/archiving log policy, and running instances of glogg preventing logs to be moved are just unacceptable.
This feature is very important for glogg success.

[2018-03-22 03:18] splinter89 commented on #111
I ended up creating `clear_php_error_log.bat` in the Start menu which does the job.
Press Win, type "clear", Enter - done! No matter if glogg is open or not.

[2018-03-22 18:30] jeffjensen commented on #111
@splinter89 Nice idea for 1 or 2 log files; I have many (currently 18 tabs open in glogg) so this approach doesn't scale as well.

If no one wants the "clear log contents" option, how about a "run external tool" option that runs a command line?  We can run a tool and pass the viewed file's full path file name as an argument...  would save the hassle of launching editor, manually hunting for the lo

[2018-03-23 16:21] arushi315 commented on #109
Hi @nickbnf Do you have any update on this issue? We are currently facing the similar issue mentioned by @wiz0u, rolling over fails since log file is locked by glogg.

[2018-03-29 00:27] chadbennett opened #210 "Wont open files with Russian characters in the file name."
If there is a Russian character in the file name Glogg will not open the file.

[2018-04-13 16:25] ssgonell opened #211 "Ability to delete files while opened in glogg"
Currently a file opened in glogg cannot be removed from the file system. Is it possible to add an option to let glogg be graceful about it?

The use case is we purge our log files nightly and having an open file via glogg prevents it from cleanup. Editors like TextPad and NotePad++ allow this. BareTail does too.

PS: This is observed in Windows. I have not verified it in other platforms.

[2018-04-13 16:33] #211 closed

[2018-04-13 16:33] ssgonell commented on #211
Duplicate of https://github.com/nickbnf/glogg/issues/109

[2018-04-13 16:52] ssgonell commented on #211
An earlier version has this ability which was removed for performance reasons. I have switched to it as I find the requested feature much much more useful to my use case. If anyone is interested in the same, it's here:

    http://glogg.bonnefon.org/files/glogg-v1.0.2-1-setup.exe

[2018-04-13 16:58] ssgonell commented on #109
As @wiz0u pointed out, version 1.0.2 has this feature (with some performance degradation though). I have switched to it given the cost benefit for my use case.

Quick link is here: http://glogg.bonnefon.org/files/glogg-v1.0.2-1-setup.exe

[2018-04-17 07:17] christiankral opened #212 "Feature request: optionally exit glogg with ESC"
I do like glogg a lot and I am using it with [Double Commander](https://doublecmd.sourceforge.io/) to quickly browse through text and CSV files. In order to quickly view several files it were highly advantageous and a lot faster -- when processing may files -- to exit glogg by pressing ESC instead of CRTL+F4 or CTRL+Q. So I were happy to see this feature implemented in glogg.

Optionally you could

[2018-04-21 04:31] zshao commented on #38
See [stackoverflow question: Compression formats with good support for random access within archives](https://stackoverflow.com/questions/429987/compression-formats-with-good-support-for-random-access-within-archives) for random seek support on various formats.

[2018-04-23 18:13] ivkond commented on #79
+1

[2018-04-30 13:28] blabtonic opened #213 "Glogg view isn't clear Windows 10"
I've noticed that when I use glogg for a certain log file it opens up with text like this
![capture](https://user-images.githubusercontent.com/6305320/39429353-a3e0fab0-4c58-11e8-957f-dad129505363.PNG)

I open a new log file and the log file opens fine both log files have pretty much the same type of information and are configured the same way

[2018-05-03 08:35] andybenn opened #214 "glogg v1.1.4 doesn't detect recreated file on samba share. File not reloaded"
Hi,
1) Load a file from a shared samba drive (mapped as V: drive) on Windows 10. Lets call it v:\session\trace.log
2) File appears in glogg OK
3) A separate process deletes trace.log and session dir on linux but they are recreated with same names. So there is now a new file "session/trace.log"
4) Glogg does not detect new file (even with polling option on). F5 or refresh does not reload file altho

[2018-05-16 14:09] #195 closed

[2018-05-21 18:10] arthurspa commented on #88
I could not reproduce it on Windows 7. I tested with "é" and "É" both in path and file name. Tried with glogg v1.1.4-x86_64.

[2018-05-21 18:18] arthurspa commented on #71
I refactored it in PR #216.

[2018-05-22 15:32] emilisev commented on #88
Hi, Indeed the problem is solved now!

[2018-05-26 15:46] #174 closed

[2018-05-29 18:00] sergei-dyshel commented on #181
Probably caused by https://github.com/nickbnf/glogg/commit/2686d8e51c39a61a0e1014dc41717bacb2c2918a: file gets reopened each time `mtime` changes which causes Qt to add emit journal/syslog message.

[2018-06-04 07:30] progray commented on #71
Please support more encoding,just as Chinese GB212 like Notepad++,thx :)

[2018-06-04 07:31] progray opened #217 "Too little support for character encoding"
Please support more encoding,just as Chinese GB212 like Notepad++,thx :)

[2018-06-07 14:07] AndreasWWW commented on #183
I've just downloaded the latest installer from https://glogg.bonnefon.org/download.html for Windows and installed it. It is glogg v1.1.4-x86_64.
In that version, the problem still exists. I'm not sure when that version was built, though. Maybe it is quite outdated?
If yes, where do I get a current installer for windows?

[2018-06-12 15:01] ImNtReal opened #221 "glogg.bonnefon.org down"
This may be the wrong place to raise this issue, but I can't seem to get to glogg.bonnefon.org, anymore. Here's examples from two different internet connections:
[code]

[2018-06-12 20:14] ImNtReal commented on #221
It seems to be back up.

[2018-06-12 20:14] #221 closed

[2018-06-15 07:08] dothedark commented on #152
I second this feature request! I'm using glogg to view the exported XML of the discogs.com database, which as on June 1, 2018, is about 36.7 GB and 230M lines.  I'm using glogg to view it, but the search I'm trying to do can't be done because it appears glogg only looks within a single line.
An extension of regex that does a multiline search and puts the results of such a regex into the search res

[2018-06-15 13:08] Lightjohn commented on #151
Hi sorry for the late comeback, I'm still getting the issue so just went back and saw your message.
At least with time I know exactly what cause the issue in my case.
My application is rotating the log every hour and every time it happen while I'm watching, the output will be all messed up.
So I think just:

move current log and and wait for the application to recreate it is enough in my case.

It

[2018-06-15 14:01] gin-ahirsch commented on #151
Can you try PR #222? It changes things when re-opening files some.

[2018-06-15 14:31] Lightjohn commented on #151
I just tried and it's working :)
It seems I will just have to wait for your changes to be merged.

Thank you

[2018-06-16 13:50] variar commented on #210
What version are you using? I believe this issue was fixed by 661d48b073160cbad0cd23cdce0d98433f2509e0. It should be in version 1.1.1 and above.

Also my fork (klogg) should not have this issue )

[2018-06-18 14:21] nickbnf commented on #209
Anton's commit should have fixed this.

[2018-06-18 14:21] #209 closed

[2018-06-19 12:20] denis-bogdanas opened #227 "Feature request - multi-threaded indexing and search"
Please consider implementing indexing/search on multiple threads, to take advantage of SSD speed. This will greatly speedup operations on 10GB+ files.

My benchmarks. I have a Samsung 850 EVO SSD and both indexing and search are CPU-limited on a single thread. SSD read speed on a large file is ~340 MB/s for indexing and 210 MB/s for search of a short word. Benchmarked sequential read speed of my S

[2018-06-19 14:28] denis-bogdanas commented on #227
@variar What version? Is klogg-17.12.0.245-setup.exe ok? I would rater not mess up with compiling from sources.

[2018-06-19 15:35] variar commented on #227
Either [klogg-17.12.0.245-setup.exe](https://bintray.com/variar/generic/download_file?file_path=win%2Fklogg%2Fklogg-17.12.0.245-setup.exe) or [klogg-17.12.0.245-portable.zip](https://bintray.com/variar/generic/download_file?file_path=win%2Fklogg%2Fklogg-17.12.0.245-portable.zip). Portable version does not require any installation, just unpack the zip archive.

These precompiled binaries are only f

[2018-06-19 22:22] variar commented on #227
Thanks for the feedback. Several things come to mind:

1. QFile::open api does not allow to pass flags for sequential access, so OS can't optimize caching and prefetching. I think some platform specific functions for opening and reading files should be used. This affects both glogg and klogg.

2. For klogg default parameters for indexing and parallel search may be bad. During index generation file

[2018-06-20 03:38] denis-bogdanas commented on #227
I'm using process explorer to get the numbers btw.

Data for EmEditor: Indexing ~425 MB/s, search 309 MB/s, one core used.

[2018-06-20 04:02] denis-bogdanas commented on #227
I tried 50K lines buffer for search. It's even a bit slower.

From your description looks like reading and processing is done sequentially: you first read some buffer then process it. While processing is done SSD is not used. The way I guess I'd do it is to have one thread that reads buffers into a synchronized queue and several worker threads that get buffers from the queue and process it. And an

[2018-06-21 12:17] variar commented on #227
I've done some research. Adding posix_fadvise(...,POSIX_FADV_SEQUENTIAL) make file reading actually slower on my pc. I'll test FILE_FLAG_SEQUENTIAL_SCAN on Windows later.

Adding separate thread to read data from file and pass it on for indexing improves file loading time. You can try new portable [build](https://ci.appveyor.com/api/buildjobs/3oajdgu8b3yt2x5t/artifacts/klogg-18.06.0.257-portable.z

[2018-06-22 17:04] Lightjohn commented on #151
In my case it's just log4j auto rotate option, so the file would be very briefly an empty file, then a lot of logs will be appended.

[2018-06-25 02:36] dothedark commented on #152
In the time since I last commented on this, I've done more research on regular expressions and the flags that many regex engines support.  The "multiline" flag, when selected, on the following regex test site shows that the regular expression I'm trying to use would work perfectly within glogg if it supported multiline mode rather than only examining one single lines at a time:
https://www.regexte

[2018-07-03 07:16] Bootta11 opened #229 "Feature request: Release follow file"
Hi,
Can you make follow file(F) option to stop following file when user start scrolling up and let user move through file without pressing again hotkey F.

[2018-07-08 11:50] androrz commented on #217
need support for GB2312 too

[2018-07-17 20:56] chasetec commented on #152
I'd also like to see this. Looks like there is a QRegularExpression::MultilineOption options so it should be possible to add a Multiline search option checkbox.

[2018-07-18 10:21] nickbnf commented on #152
Thanks @dothedark for your research and suggestion. Multiline matching would in theory be possible as you noted however there is a big problem with it: regexp matching grows at the very least linear in space (and can be exponential depending of the algorithm and the exact regexp) with the size of the input. As glogg is optimised to read multi-GB sized files, it would be impossible to search on the

[2018-07-19 09:12] omasseau opened #233 "Feature request : Lines wrapping"
It would be really nice to have an option for lines wrapping.
It is a bit annoying to have to scroll horizontally when a line is too long to fit the window ;)

[2018-07-19 15:07] gin-ahirsch opened #234 "Feature Request: Loadable filter-files"
I'd like to be able to export some of my filters to a file, copy that file on another computer and import the filters there.

I've been working on this feature myself. It's not quite ready for a PR as I need to test my changes some more, some functionality is missing and I'd like to split the commit into two or three separate ones.

Here's how the new FiltersDialog looks.
First we have the "Loadab

[2018-07-21 08:40] negora commented on #233
I think that it's a duplicate of #206 . But I agree, this feature would make a BIG difference. It's the only feature that I'm missing right now.

[2018-07-21 08:44] negora commented on #206
I absolutely agree. In my opinion, it would be fantastic if we could enable/disable easily, without entering the options. For example, with a keyboard shortcut and a button (plus an entry in the top menus, to keep consistency).

[2018-07-24 07:45] negora commented on #111
In my opinion, having the option of clearing the buffer (not the file) is a must when you use a log viewer for development. I would love that Glogg added something like that.

An alternative would be adding separators or markers manually. Something that allowed us to distinguish which log messages have been written since the last time we checked the log. The tool Multitail has that: it adds a line

[2018-07-24 07:51] negora commented on #80
I believe that #111 is a duplicate of this one. But, in my opinion, it would be better if Glogg only cleared the buffer, not the file.

[2018-08-01 09:00] dothedark commented on #152
@nickbnf, thank you for your comments.  If you ever did consider adding the multiline option, perhaps the number of lines could be chosen by the user, who would need to accept a potentially very long execution time for a high number.  I certainly understand your concerns.

You are correct that XML cannot be parsed with regex.  In the particular file I'm working with, however, there are no identica

[2018-08-03 08:56] gin-ahirsch commented on #234
The branch is shaping up nicely.

Currently, modified version of loaded filters are only visible in the "Loadable" tab via a modification-icon. The item in the list is not changed to reflect the changes done.

The "Save changes" and "Undo changes" buttons work now.

The loaded filter files and local changes now also saved on disk and thus persist between sessions. Local changes are stored in the "

[2018-08-05 17:44] nickbnf commented on #210
Closed as not reproducible on the latest version.

[2018-08-05 17:44] #210 closed

[2018-08-05 17:50] nickbnf commented on #162
Closed as not a glogg bug.

[2018-08-05 17:50] #162 closed

[2018-08-05 19:33] nickbnf commented on #233
Closed as duplicate of #206

[2018-08-05 19:33] #233 closed

[2018-08-05 19:33] nickbnf commented on #229
This is the way it works!

[2018-08-05 19:33] #229 closed

[2018-08-05 21:42] #151 closed

[2018-08-09 09:24] elfring opened #237 "Fix signal handler"
The function “[exit](http://pubs.opengroup.org/onlinepubs/9699919799/functions/exit.html "Terminate a process.")” does not belong to the list of [async-signal-safe functions](https://www.securecoding.cert.org/confluence/display/c/SIG30-C.+Call+only+asynchronous-safe+functions+within+signal+handlers "Call only asynchronous-safe functions within signal handlers.").
I guess that a different program d

[2018-08-13 13:27] nickbnf commented on #217
Fixed by 048334c92fb4b86ebbabc7471f7313a1cc515c10

[2018-08-13 13:27] #217 closed

[2018-08-13 13:31] nickbnf commented on #181
Should be fixed by 9f850936f193b6e0057829e50d76cbf76e3a62c7. Please reopen if not.

[2018-08-13 13:31] #181 closed

[2018-08-13 13:33] nickbnf commented on #175
Intended behaviour, as @variar pointed out, `--load-session` will do what you want.

[2018-08-13 13:33] #175 closed

[2018-08-23 16:28] OlivierGagnon opened #238 "[Windows] if glogg is maximized and you double click a file in explorer, glogg will un-maximize itself"
If glogg is maximized and you double click a file in explorer, glogg will un-maximize itself

Maximize glogg with the icon to the left of the X (maximize)

Then head over to explorer and double click a file associated with glogg. It will revert back to its pre-maximized size.

It always does it that way.

[2018-08-25 00:26] gavinws opened #239 "Cannot open files by double-clicking from Finder (macOS)"
I have Glogg set to open .log files by default, but double-clicking on a log file just causes Glogg to open an empty window if it wasn't already open - otherwise it brings the existing window to focus. However the file I clicked never gets loaded into Glogg. I can drag and drop the file into the open Glogg window to open it, though this is annoying to deal with.

Glogg v1.1.4
macOS High Sierra 10.

[2018-09-22 10:29] zaz600 opened #240 "Can't build src"
Hello
I can't build glogg from src from latest commit
commit e191a6372ce0efc66787e543b1949479c1e79a59 (HEAD -> master, origin/master, origin/HEAD)

Linux denisovdv-pc 4.15.0-29-generic #31~16.04.1-Ubuntu SMP Wed Jul 18 08:54:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Linux Mint 18.1

`
qmake

[2018-09-22 10:47] variar commented on #240
Hi, what gcc version are you using?

Travis CI builds  glogg on each commit on Ubuntu with gcc 6, and latest
build looks fine.

Regards,
Anton Filimonov

сб, 22 сент. 2018 г., 13:29 Dmitriy Denisov <notifications@github.com>:

[2018-09-22 11:10] zaz600 commented on #240
I build it with gcc (Homebrew gcc 5.5.0_4) 5.5.0
should i downgrade gcc?
system version is gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609

[2018-09-22 11:17] zaz600 commented on #240
Thanks. I removed gcc 5.5 from linuxbrew and glogg build was successful

[2018-09-22 11:17] #240 closed, assigned to nobody

[2018-09-24 06:42] djsharman commented on #69
+! for this

[2018-10-15 13:23] ziqex opened #242 "Filtering log results"
Hello everyone,

I would like to filter the logs.  I wonder how can I search for a specific date (YYYY-MM-DD) and IP address. I have tried using the && expressions as well as | but it did not provide the expected results. I have read articles and tried many combinations (brackets, &&, |, *) but still I cannot filter the logs by date and the IP address. I can only search for one attribute at the ti

[2018-10-15 22:36] kofifus opened #243 "new windows build"
The latest windows build on https://glogg.bonnefon.org/ is 1.1.4 from 18 May 2017

When can a new version build be expected ? is there anywhere to get windows binaries of latest code ?

Thanks!

[2018-10-25 06:09] zaz600 commented on #242
it works for me
as OR. it finds lines with te given date or given ip
`2018-10-25-09:03:08.989\+0300|127.0.0.1`

as AND. it finds lines with te given date AND  given ip in the same line (where date is before ip in line)
`2018-10-25-09:06:10.900\+0300.*127.0.0.1`

Another example:
`2018-10-25-09:06:10.900\+0300.*127.0.0.1|2018-10-25-09:06:10.913\+0300.*127.0.0.1`

Same as prev
`(2018-10-25-09:06:10.

[2018-10-30 09:45] azeem-mohammed opened #244 "LogFile of previous day getting deleted automatically"
I find glogg as one of the best and fast log viewer.

However while using glogg I find the following issue which I find it major

Normal Scenario
==========
I have a file named log-file.txt and I am using Log4Net for and the rolling profile is on a daily basis and hence at every midnight the file name log-file.txt will renamed as log-file.txt.yyyymmdd.log
example:

On 30-Oct-2018 mid night 00:00:0

[2018-10-30 13:07] vliedel opened #245 "Scrolling down beyond the end"
Hi, when fast scrolling towards the bottom of the file, glogg often sort of seems to remember that you scrolled past the end, so that when scrolling up again, you are stuck at the bottom for quite some time.

Using:
ubuntu 18.04
glogg 1.1.4-1

[2018-10-30 15:24] aism commented on #239
Hi there,

I have the same issue. had it in High Sierra, and now also having it in Mojave (10.14 (18A391)).

[2018-11-04 12:26] Worksihop opened #246 "Editing"
is there any plans to add an edit feature ??

First off , this is a great tool , while there is tools like ultra edit and others Linux for as far back as I can remember didn't have a application to be able to view + search with big files

I can't understand why every distribution have there own editors yet none of them can open big files [[ geany,gedit,kwrite/kate]] yet here comes along an open-so

[2018-11-19 14:46] erikandersen opened #247 "Duplicate search results"
If I enter a search term and the file is modified while glogg is searching, glogg starts the search from the beginning and the search results appear in duplicate.

![image](https://user-images.githubusercontent.com/6872872/48707601-3baabb00-ec00-11e8-800b-d09c52ac8c43.png)

Note the repeating line numbers after 255157

[2018-11-20 15:59] gin-ahirsch commented on #247
Do you get this with a build from master? This might have gotten fixed via https://github.com/nickbnf/glogg/commit/9f850936f193b6e0057829e50d76cbf76e3a62c7.

[2018-11-21 08:27] erikandersen commented on #247
I use glogg v1.1.4-x68_64
/Erik

Från: gin-ahirsch <notifications@github.com>
Skickat: den 20 november 2018 17:00
Till: nickbnf/glogg <glogg@noreply.github.com>
Kopia: Erik Andersén <erik.andersen@liu.se>; Author <author@noreply.github.com>
Ämne: Re: [nickbnf/glogg] Duplicate search results (#247)

Do you get this with a build from master? This might have gotten fixed via 9f85093<https://github.co

[2018-11-22 09:10] gin-ahirsch commented on #247
That does not include the mentioned commit.
You will either have to build yourself or wait for #243 or #189, though the project seems to be rather inactive at the moment.

You could try an appveyor build artifact from @variar's fork https://github.com/variar/klogg, though I'm uncertain if it has already merged the fix: https://ci.appveyor.com/project/variar/klogg.

[2018-11-30 18:35] jgscherber opened #248 "Lookbehind regex support"
When trying to use lookbehind searches (`(?<=)` and `(?<!)`),  glogg give an error that
![image](https://user-images.githubusercontent.com/6207661/49307858-79330200-f4a4-11e8-977d-b601dc1b5cdc.png)
and looking at that bug ([QTBUG-2371](https://bugreports.qt.io/browse/QTBUG-2371)) support should have been added with QRegularExpression which has already been added to glogg (#159) so why is this erro

[2018-12-05 17:05] melkashef12 commented on #239
Hi,

I have the same issue in Mojave. It's very annoying and can be misleading :(

[2018-12-07 20:51] gmatesunny commented on #206
Is it supported now?

[2018-12-11 09:10] zjudongze commented on #239
up

[2018-12-20 20:38] ghost commented on #247
@variar's fork does not include this commit. Also, his fork hasn't seen any activity since around the same time that this one has.

[2019-01-02 16:23] mickaelgnb opened #249 "Now Qt 5.4 is the minimum"
Because some files are using "QRegularExpression::OptimizeOnFirstUsageOption" , Qt5.4 is the minimum

[2019-01-02 16:29] mickaelgnb opened #250 "Compilation error about uint32_t"
uint32_t was not recognized in src/utils.h , I needed to add
`
#include <stdint.h>
`

[2019-01-09 14:30] dia-susca commented on #111
I would also love this feature, it is extremely useful when developing on app servers with hundreds of deployments per day. At some point it becomes useful to "de-clutter" the logs.
Can it please be added?
You don't HAVE to clear log contents, and it doesn't have to be a button that can be accidentally clicked (like if it were next to Reload), but maybe just added as an Edit menu option?

[2019-01-20 09:08] variar commented on #111
After several years I've changed my mind. I'll add this feature as a menu item to clear the log file to my klogg fork and make a PR to glogg. Something more fancy like separators on log file reloads seems to require too much effort.

[2019-01-20 09:14] variar commented on #245
Looks like scrolling past the end triggers "follow file" to reload file if something changes. In this mode staing at the end of log seems like a good idea. However, it might be usefull to add an option to disable this behaviour globally.

[2019-01-20 09:29] variar commented on #247
One of the reasons to start my own fork was to be able to make changes faster. Now after several years I understand why Nicolas doesn't react to issues and pull requests very fast.

Last night I've found a way to make initial indexing io-bound (and it becomes two times faster on my machine with clean fs cache, hint: memchr). Also it's time to rebuild klogg binaries with updated Qt version. So I'm

[2019-01-20 09:37] variar commented on #206
Unfortunately, the current design makes this feature rather hard to implement. This is good feature for someone who wants to learn glogg internals. I'll be happy to help if anybody is willing to implement it.

[2019-01-20 15:57] gmatesunny commented on #206
I am in.

[2019-01-21 08:43] variar commented on #237
As far as I understand one of correct solutions would be blocking selected signals on all threads (doing this in main should work by inheritance?) and then using separate thread with sigwait to wait for signals. This thread is not a signal handler, so calling regular exit should be permitted.

[2019-01-21 14:48] tdelphi commented on #238
I also seen this behavior. OS: windows 7.

[2019-01-21 15:42] variar commented on #248
Looks like there were no release with #159 integrated. Should be resolved with #243 when new build is released.

[2019-01-21 16:24] tdelphi commented on #214
I have the same issue. It's pretty frustrating. So here are few details from me:
OS: windows 7
glogg: v1.1.4-x86_64
file is not refreshed not if opened via UNC path - \\myserver\session\trace.log not if mapped as disk - like v:\session\trace.log

**Furthermore: file seems to be locked (?) for reading (or writing - not sure) even for other windows programs**. For example: I open 30mb log file from

[2019-01-22 07:34] garyee commented on #234
It would be really nice to have this. To have a file-based filtersystem would permit to have a different set of filters for different kind of logs!
If I can add one, it would be great to have "filter-profiles" with a button toolbar where one could switch the profiles easily.

[2019-01-22 07:59] garyee opened #251 "Feature request - Add Folding"
Hi,

I am using glogg primarily for java error logs, and it would be great to have some sort of folding mechanism like in an IDE where one can reduce for example a function to one line.
One would have to grafically define (some sort of selection-mode) the lines that would hide behind one line (first line of selection).
This would facilitate Java-Log analysis a whole lot, also other logs with stack

[2019-01-22 09:23] gin-ahirsch commented on #234
@garyee Check out https://github.com/gin-ahirsch/glogg/tree/filter-files-for-upstream, I'm really just waiting on #230 or #236 to be merged before opening a PR. Note that these, and some other, changes are included in that branch (which is why a PR for it is not yet opened).

[2019-01-22 10:26] variar commented on #247
I've merged @gin-ahirsch commits to [klogg](https://github.com/variar/klogg) (CI builds 19.01.0.273, links to binaries for different platforms are on main repo page).

Also I've updated #189 so latest master build artifacts for windows can be downloaded from https://ci.appveyor.com/project/nickbnf/glogg/builds/21795819/artifacts

Could you check if either of these builds works for you?

[2019-01-22 10:28] variar commented on #243
Latest master build artifacts for windows can be downloaded from https://ci.appveyor.com/project/nickbnf/glogg/builds/21795819/artifacts

[2019-01-22 10:31] variar commented on #248
@jgscherber could you check latest master build from CI
https://ci.appveyor.com/project/nickbnf/glogg/builds/21795819/artifacts?

Installer is buggy, but zip-archive should work fine.

[2019-01-22 11:42] variar commented on #227
FYI, switching from naive loop to std::memchr when searching for line breaks and tabs makes initial file load IO-bound on my 850 EVO. Changes are needed in one loop, I'll try to cherry-pick them to glogg without all my multi-threaded reading/processing experiments.

[2019-01-23 00:19] kofifus commented on #243
thanks! the windows installer fails with this msg:

![image](https://user-images.githubusercontent.com/3926071/51574156-c52c8100-1f00-11e9-922c-f2ed9c6502c4.png)

[2019-01-23 07:57] variar commented on #243
For some reason this file is not included in installer.  I'll look into it. Meanwhile you can download zip-archive and copy missing file to glogg install folder.

[2019-01-23 22:14] kofifus commented on #243
OK great thanks I got it to work - another file that is missing in the installer is `libgcc_s_dw2-1.dll`

Also, glogg help->about shows this:

![image](https://user-images.githubusercontent.com/3926071/51640689-4eeb5580-1fb8-11e9-9fdb-215863e50c04.png)

It is not clear what version number is this matching - can that be changed to the correct version ?

[2019-01-24 06:35] variar commented on #243
Thanks for testing. This is built from the latest sources. The long line of characters in about window is just git identifier for the latest commit that has got into this build. Meaningful version will appear when new official release is created.

[2019-01-24 19:03] rob-X1 commented on #243
Note that the build is 32bit only. If your target platform is 64bit only (e.g. a WinRE 64bit system) this build is of not use to you.

[2019-01-25 06:38] variar commented on #243
I think this issue should stay open till official stable release, so link to the build can be easily found.

Appveyor does not provide Qt version for mingw 64 bit. And code changes are required to build with msvc compiler, so building 64-bit variant automatically is not possible at the moment.

My fork should include recent changes from glogg and has 32/64 builds, however 19.01 versions are experi

[2019-02-01 14:25] variar commented on #203
Looks like duplicate of #151. Build with fix can be found in #243

[2019-02-01 14:27] variar commented on #112
Might be fixed with #151 or with 84a8a910f1bab475f3fe7fe3fb12bd3690a2029a

[2019-02-01 14:30] variar commented on #244
This issue might be caused by #109

[2019-02-01 14:40] variar commented on #74
Not reproduced for x64 build. Latest 32-bit build has this issue.

[2019-02-01 15:02] variar commented on #109
I've implemented @wiz0u suggestion to fix variar/klogg#36. Need testing in real-world scenarios bacause my daily job does not involve log-files changing in real time. Latest builds are available from [releases](https://github.com/variar/klogg/releases/tag/continuous-win).

[2019-02-01 16:19] variar commented on #111
Can be tested in klogg builds >=19.01.0.337 (see [releases](https://github.com/variar/klogg/releases))

[2019-02-04 00:17] jeffjensen commented on #111
Thank you for adding this feature!  I've switched to Klogg and appreciate using it.

[2019-02-04 04:11] fogoat commented on #213
I can't replicate this issue. Did you change text size in Windows to something other than 100%? glogg working great for me on Windows 10 64-bit Home & Pro.

[2019-02-08 15:28] gin-ahirsch commented on #234
I pushed two bug-fixes and changed the loaded- and modified-icons to resemble an "L" and an "M" respectively.

[2019-02-10 12:41] NewUserHa commented on #243
It's February now.
hope there'll be a new windows version soon

[2019-02-10 12:50] NewUserHa commented on #243
@variar I tried your forked klogg. it works. thanks for all you guys' work
can I suggest a feature here?:
  detecting encoding then apply ASAP instead finishing a whole file would be great

[2019-02-10 15:22] variar commented on #243
@NewUserHa, can you describe the issue that suggested feature shoul fix?

Both glogg and klogg detect encoding based on first several bytes of file and use it for loading rest of the file. Glogg uses custom encoding detection and klogg uses Qt for UTF-8/16/32 and uchardet for some other 8-bit encodings. Both algorithms are not perfect but should work well enough.

[2019-02-10 15:29] NewUserHa commented on #243
klogg opened a text file, >>3GB and >300k lines and gb2312 encoding.
all Chinese characters are garbled texts until the whole indexing of file finished completely.

[2019-02-10 15:40] variar opened #252 "klogg opened a text file, >>3GB and >300k lines and gb2312 encoding."
klogg opened a text file, >>3GB and >300k lines and gb2312 encoding.
all Chinese characters are garbled texts until the whole indexing of file finished completely.

_Originally posted by @NewUserHa in https://github.com/nickbnf/glogg/issues/243#issuecomment-462142001_

[2019-02-10 15:40] #252 closed, assigned to nobody

[2019-02-10 15:41] variar commented on #252
Meant to create issue in other repository

[2019-02-10 15:43] NewUserHa commented on #252
maybe glogg has this issue also?
my files were deleted so can not help ensure this for now.
this issue may should be opened?

[2019-02-10 16:18] variar commented on #243
Indeed, encoding for displaying text is set after indexing is finished. I'll try to set correct encoding after it is detected.

[2019-02-10 16:26] variar commented on #252
It might have the issue, but I don't remember details to state this without testing

[2019-02-14 09:32] chuangfengwang commented on #137
Really useful feature, I am calling for too!

[2019-02-14 13:10] variar commented on #137
* open multiple files at once (i.e. with Ctrl+Click on Windows) -- this might be fixed in PR#136 that was integrated to 1.1.4. Klogg uses similar code and if I select several files and then choose to open them using right-click menu, all files are opened.

* search through multiple files -- if results should be combined in the same window, this is hard because there is mapping between search resul

[2019-02-15 09:44] Struis112 opened #253 "filetype .log does not associated"
The association does not work

[2019-02-15 10:24] #253 closed, assigned to nobody

[2019-02-15 10:34] Struis112 commented on #253
It did work, but slower then expected.

[2019-03-13 16:29] frankbret opened #257 "Truncated line and copy-past doesn't work on Windows"
On version 1.1.4-x86_64
I don't see complete line length.  Only 100 firsts characters.

Also, I tried to copy a line from glogg to notepad++ without success (ctrl+c or Edit menu, "Copy" item).

Nice project !

[2019-03-16 03:27] evandrocoan opened #258 "Does not wrap around and searching with Ctrl+F"
If I am currently on the position 70%, and hit `Ctrl+F` to search something, it will search forward up to the end of the file, but does not cycle back from the beginning up to the position 70%.

This is trouble some if I do not pay attention because I think the search was not found while it was just not searched throughout.

[2019-03-18 18:27] evandrocoan opened #259 "New non-typing keybind to follow file"
Using only `f` is bad because most times I am typing things on the search box:
![image](https://user-images.githubusercontent.com/5332158/54554118-7516eb80-4992-11e9-9248-6f061ff4cf7c.png)

And if I want to follow the file back, most times end up typing `f` on the search box, other than using the follow action.

Can I use some other non-typing key to follow as F5?

[2019-03-29 14:34] forsail opened #260 "Feature request : Colorizes the log automatical different color for different search string, and just highlight the search string"

[2019-04-04 20:21] rgwood-github2018dec31 opened #261 "on 4k screens, the file tabs are very small"
Love the app. Windows 10 64bit, latest updates, 4k screen. Tabs are comically small.

![image](https://user-images.githubusercontent.com/46290582/55585677-348ad200-56f5-11e9-9f25-8fc4259d3ef2.png)

![image](https://user-images.githubusercontent.com/46290582/55585689-3b194980-56f5-11e9-8e8a-e6c720bf17ef.png)

[2019-04-10 10:03] mischerr opened #262 "Fix Filter Dialog: Color information get lost"
I'm on Win7 using glogg v1.1.4-x86_64

Here you see my filter just after opening the dialog:
![glogg_1](https://user-images.githubusercontent.com/49478744/55869932-ce380080-5b87-11e9-94d1-fe0ce350c3b6.png)

The problems:

1. The 1st focused filter is drawn wrong in the list. It has the same color settings as the 2nd. When I focus the 2nd and then back to the 1st its colors are lost.

2. When I add

[2019-04-26 09:27] AndersBillLinden opened #263 "Incremental search is killing performance"
I have a file open  which is on 10G. When I use <kbd>Ctrl</kbd> <kbd>F</kbd> to search for a certain word, an incremental search will be made and after I have input the first letters of the search term the application hangs forever.

[2019-05-03 07:37] MikeRosoft commented on #257
It would be good to put one issue per thread. Allowing to copy log file text is a feature request. But truncating the log file display is a serious bug. I have encountered the same - with long lines, glogg only displays a part of the line (the text is truncated to about half of the window width); to see the rest, it is necessary to horizontally scroll.
![glogg1](https://user-images.githubuserconte

[2019-05-03 07:59] variar commented on #257
Hi, could you check if https://github.com/variar/klogg  has the same issue? I have opened many log files with long lines and never encountered this issue either in glogg or klogg. A sample file to reproduce the issue might help.

[2019-05-06 14:24] jkraft-s1a commented on #244
I'm experiencing the same issue around Log4Net.  In my case, our logs roll over when they reach a certain size.  If I happen to have one open in glogg when this occurs, I experience a loss as described above.

[2019-05-08 17:29] tjf opened #264 "Website down due to ID verification issues."
Just a heads up! ;-)

[2019-05-11 07:44] bernd-wechner opened #265 "Browsing log files (plural) would be a great feature"
Gave glogg a look at again hoping it might do this but no. So leaving it as a suggestion.

Namely some shortcut key which moves to the next and/or previous file in a sequence of numbered log files. They are commonly sequenced with .n (n being an intenteger, 1, 2, 3, 4) appended to the filename. I am currently interested in this folder for example:

[code]

And find something in a recent log file s

[2019-05-11 14:38] variar commented on #265
You can pass sevaral files in command line. Glogg should open all of them and then you can use `shift+Left|Right arrow` to switch between tabs.

[2019-05-14 01:16] bernd-wechner commented on #265
Thanks, that sounds like an option to note. If the File Open GUI command allowed multiselect that would be a cool complement (perhaps it does, I'm not in a position to try it right now).. With a list as large as the one above though this may have quite a memory hit, and it's still an idea to implement a log files browser ... so you can move easily through a list of similarly named logfiles. This c

[2019-05-22 02:06] kofifus commented on #243
May now so two years (!!) since last official windows build - is glogg dead ?

[2019-05-22 17:00] kpkpkp commented on #247
I am seeing the same - I think it may be related to viewing very large files

[2019-06-07 08:36] fabiobento512 commented on #257
I also have the same problem. Copy paste of the lines does not work in windows. I consider this an essential feature.

[2019-06-07 18:06] jleaders commented on #122
Might I suggest this interface:
`You are a viewing a compressed file, would you like to decompress it? NOTE: This will disable realtime-streaming of this file, and will decompress in a temporary directory [Decompress]`

If you push decompress, do nothing fancy other than unzip to tmp & open that in a new tab (Then popup an error if the tempdir write fails)

Then all these concerns about [random ac

[2019-07-06 02:52] rickhau commented on #234
Filter files are very crucial feature for log explorer. Hope this feature can be merged as soon as possible.

[2019-07-10 14:29] Lemmes commented on #260
I guess what you mean can be accomplished using filters like this...
![glogg_filter](https://user-images.githubusercontent.com/39760938/60977419-be1ef100-a32f-11e9-8693-8e9fca828c87.jpg)

[2019-07-25 14:55] gap777 opened #266 "Be able to trim the file down"
I want to be able to more clearly see the parts of the log file that are relevant for my current investigation/issue. Therefore, I want to be able to search for and delete lines that match a pattern. The general workflow is

1. Look for a pattern to match lines that I'm confident are not related to my issue
2. Find those lines
3. Remove them.
4. Goto 1.

After a few cycles of this, I strip out the

[2019-07-28 15:10] variar commented on #262
Could be duplicate of #160

[2019-07-28 19:23] variar commented on #259
F5 is already used for reloading file. Implemented F10 in klogg builds >=19.07.0.428

[2019-07-28 19:25] evandrocoan commented on #259
Thanks!!!!!!!!!!!!!

[2019-07-28 19:25] #259 closed, assigned to nobody

[2019-08-02 07:12] bernd-wechner commented on #263
My experience every time I paste a string into the CTRL+F box only to find it has extra space on the end (from my source) and I have to wait like 30+ seconds before I can backspace it off. But I found under `Tools > Options` you can turn this off! Do that. There's a lack of help mind you as to what all those options mean but they can sort of be divined.

[2019-08-11 14:14] amitkot commented on #234
This is a very important feature for our uses as well. This project is super useful - hands down the best open source log explorer currently available afaik.

[2019-08-15 14:20] AndersBillLinden commented on #263
Nice suggestion, but if you ask me, there should be no setting that makes the application hang.

[2019-08-15 21:18] bernd-wechner commented on #263
Agreed. The default scenario is sub optimal currently. Causing a rather poor UX.

[2019-08-16 15:58] gap777 commented on #266
https://github.com/variar/klogg/issues/85 helps doesn't really address this issue.... the use case is that a given pattern can be identified of things obscuring the information of interest. But there's not a pattern that can the things of interest directly (such that they could be searched for, found, selected, and copied+pasted into a new document).

[2019-08-19 14:24] gap777 commented on #266
Can you suggest a UX for how this functionality would tie into glogg? Maybe I can contribute.

[2019-08-20 16:21] variar commented on #266
There are several requests that if implemented can be used to do this. variar/klogg#73 suggests to add hide filters that should work like current highlighters but instead of colorization just remove matching lines from view. This can be tricky as currently highlighting is done when drawing text. Then there is variar/klogg#22 with idea of adding additional text input for regular expression to exclu

[2019-08-26 06:40] konomikitten opened #267 "Systemd journal support"
Sorry if this has already been asked, I did search but couldn't find anything, is there a way to open the journal of systemd with glogg?

[2019-09-02 10:53] bernd-wechner opened #268 "Support logrotated log sequences ..."
logrotate is commonly implemented on Linux boxes at least:

https://linux.die.net/man/8/logrotate

and results in a set of logs that look like this:

[code]

I would rock immensely if glogg could:

1. Just open the .gz compressed logs understanding it needed to unzip them first. i.e. I'd like to right-click and **Open with glogg** and have it work.

2. Had an option to load the whole sequence as o

[2019-09-04 16:20] variar commented on #247
I've investigated and fixed somewhat similar issue in variar/klogg#68 . In my case some completely unrelated lines appeared in search results. One possible cause for this issue could be not detecting that file has been changed in already indexed part. That way index gets messed up.

[2019-09-04 16:39] variar commented on #243
There has been some commits in 2018. I can prepare a build from latest sources if someone is interested.

@nickbnf I can try to make a PR that will add artifacts from Travis/Appveyor builds to a github release on each commit, but this will require some configuration to add proper repository access keys.

[2019-09-04 16:42] variar commented on #177
I can think of one way to implement this. Glogg can spawn a process to read stdin and write to temporary file. This file can be opened to do searching. However, this can be easily done in command line with existing tools

[2019-09-04 21:39] kofifus commented on #243
+1

[2019-09-10 10:19] mkeighley commented on #257
Just run into the same problem reading a W32tm debug log, using Glogg 1.1.4
Offending file is attached.
[w32time.log](https://github.com/nickbnf/glogg/files/3595152/w32time.log)

[2019-09-16 02:34] fogoat opened #269 "Wiki link wrong - https://glogg.bonnefon.org/contributing.html"
The here link goes to wiki.github.com which I think is outdated. Is the correct link?

https://github.com/nickbnf/glogg/wiki

[2019-09-18 23:09] kofifus commented on #243
@variar any news on this ?

[2019-09-24 19:54] variar commented on #243
Been a little busy releasing new stable version of klogg.

I've updated pull request to build glogg from latest sources using Qt 5.12

builds from https://ci.appveyor.com/project/nickbnf/glogg/builds/27640336
[glogg-1.1.4.90_x64-setup.zip](https://github.com/nickbnf/glogg/files/3649508/glogg-1.1.4.90_x64-setup.zip)
[glogg-1.1.4.90_x64.zip](https://github.com/nickbnf/glogg/files/3649509/glogg-1.1.4

[2019-09-25 23:03] thirdwheel opened #270 "Windows Unicode full of spaces"
Hi

I've noticed that log files that are written in unicode are full of spaces (typically null bytes for non-Unicode characters) and it makes reading the logs a bit of a challenge.  It detects the encoding correctly (ISO-8859-1) but it doesn't remove the null bytes from the output.  A screenshot of the issue is below.

![image](https://user-images.githubusercontent.com/160601/65645868-765d5b00-e03

[2019-09-26 04:19] variar commented on #270
What version are you using? Sometimes encoding detection doesn't work. What happens if utf16 encoding is selected manually from the menu?

And could you attach a file sample? I'll try to check encoding detection for this file in both glogg and klogg.

[2019-09-27 01:04] thirdwheel commented on #270
Sorry, version 1.1.4. UTF16 isn't listed as an option.  Log attached.
[ReportServerService__09_26_2019_00_06_50.txt](https://github.com/nickbnf/glogg/files/3660432/ReportServerService__09_26_2019_00_06_50.txt)

[2019-09-27 09:57] variar commented on #270
Looks like utf16 didn't make it to version 1.1.4. You can try builds from latest master sources from https://github.com/nickbnf/glogg/issues/243#issuecomment-534721749 or switch to klogg (https://github.com/variar/klogg) which is more actively developed and supported.

[2019-09-30 15:26] mkenyon2 opened #271 "Text is truncated/missing on long lines"
When viewing logs, at times the app fails to display lines to their end.
You can see in the screenshot, the line cuts off before listing the line number. In the actual log, the text looks like
`at AppName.Business.Addresses.AddressService.<ValidateAccountAddressAsync>d__25.MoveNext() in C:\Users\myUserName\source\repos\AppName\AppName.Business\Addresses\AddressService.cs:line 796`

![image](https:

[2019-09-30 16:04] variar commented on #271
Looks similar to #257. Does this happen with static files or when files are changing on disk? glogg has some issues with partial files reindexing when new lines are appended to file. It might be fixed in builds from latest master (see #243),

Also could you try [klogg](https://github.com/variar/klogg)? We've some changes in indexing that might affect the issue.

[2019-10-02 00:52] thirdwheel commented on #243
@variar, the libstdc++ DLL file is missing from the 64-bit installer.  Had to copy it from the non-setup ZIP file.

[2019-10-02 00:53] thirdwheel commented on #270
That's got it, thanks!

[2019-10-02 00:53] #270 closed, assigned to nobody

[2019-10-08 19:46] eryjus opened #273 "Feature Request: Add option for LF vs CRLF end-of-line marker"
While I use glogg on Windows, nearly all of the logs I need to review are generated on Unix-like systems.  This means I need to reformat the log from a LF end-of-line marker to a CRLF end-of-line marker.  This takes time to load a log in Wordpad and save it again just to load it again in glogg -- which can be especially critical when there is a time-sensitive problem to research.  Nearly all my lo

[2019-10-08 20:02] variar commented on #273
Glogg uses `\n` character to break lines in logs on all operating systems. Could you describe what gets wrong with opening Unix-like file on Windows?

[2019-10-09 13:49] eryjus commented on #273
@variar, when there is only a LF, the file is concatenated into a single line.  If that line is long enough, it is wrapped.

I have pictures of a small example attached:
![Glogg LF sample](https://user-images.githubusercontent.com/2507650/66485821-4c556100-ea5e-11e9-825f-9b633cbac5b1.PNG)

Whereas, this is what I am expecting the log to look like:
![Wordpad Sample](https://user-images.githubuserco

[2019-12-03 12:08] svogt commented on #122
I would also vote for decompressing on the fly to a (configurable) temporary directory.

On Linux lograte often times produces gzipped log files (no archive, just gzipped) - I think that's the reason zless / zgrep exist ;)

[2019-12-19 21:46] d-konrad commented on #213
I am having the same problem. I have two monitors. The larger monitor is scaled 150%, while the smaller one is scaled 100%. When glogg is opened on the large monitor and is moved to the small monitor, the text is fine. But if it is closed and then opened again on the small monitor, I get the same symptom.

[2020-01-03 09:03] variar commented on #122
Integrated to latest pre-release [klogg](https://www.github.com/variar/klogg) build (20.1.0.562, see CI artifacts) a simple version of @jleaders suggestion. zip/7zip/tar.gz/tar.bz2/tar.xz are supported as well as gz/bz2/xz compressed files. Compression is determined by extension. Will use something like libmagic to actually look into file headers in next builds.

Would appreciate any feedback.

[2020-01-04 00:14] jleaders commented on #122
Thanks for your great work! Any hope for it merging down into glogg?

[2020-01-04 07:17] variar commented on #122
There has been no activity in glogg repository since April 2018 :( That is one of the reasons my fork exists.

If @nickbnf is still interested in developing glogg, I will be happy to contribute. If not then finding new maintainer for this great peace of software might be an option.

[2020-01-16 23:49] variar commented on #243
I've updated pull request to build glogg from latest sources using Qt 5.12.5

builds from https://ci.appveyor.com/project/nickbnf/glogg/builds/30172532
[glogg-1.1.4.93_x64-setup.zip](https://github.com/nickbnf/glogg/files/4074315/glogg-1.1.4.93_x64-setup.zip)
[glogg-1.1.4.93_x64.zip](https://github.com/nickbnf/glogg/files/4074316/glogg-1.1.4.93_x64.zip)
[glogg-1.1.4.93_x86-setup.zip](https://githu

[2020-01-17 02:40] kofifus commented on #243
Thanks variar !

I'm wondering why keep both glogg and klogg project ? I ended up switching to the build here https://github.com/variar/klogg/releases/tag/continuous-win

[2020-01-17 17:09] variar commented on #243
Personally I'm happy to hear this, thanks @kofifus :) However, glogg has well established reputation and many users. Sometimes having a well-known stable tool that does it's job well for your use-cases is ok, no need to change anything. Not everybody need new features, but having small annoying bugs fixed can make a day little better.

I'm actually thinking of creating a separate fork that will ha

[2020-01-17 21:03] kofifus commented on #243
Is there anywhere a list of new features in klogg ?

[2020-01-26 14:19] louis6321 opened #274 "Feature Request: Dark mode"
Please add a dark mode for the app. It's way too bright when most of the apps I use are dark.

[2020-02-24 15:04] dzmitry-lahoda opened #275 "Add donate button"

[2020-05-08 05:10] sharpboy2008 opened #277 "support larger memory"
it seems it consumes very little memory. nowadays ,memory is so cheap. most have 32GB.can it make memory configurable or automated increase mem use whenever system has more mem?
by doing this ,it may increase search/filter performance significantly.

[2020-05-08 18:09] M00N-MAN commented on #174
on Mac OS Sierra & Mac OS Catalina a latest glogg version 1.1.4 still has no auto-refresh:
lets assume `bin.x` is a simple tcp/udp server listening some port and uses `printf()` to stdout for output and it has first line in `main(){ setbuf(stdout, NULL); //...`. An idea to use a server is better because it delivers some output only with some unpredictable outside activity of clients. as client i u

[2020-05-09 20:28] variar commented on #174
@andrey-zibrov could you try latest [klogg](https://github.com/variar/klogg) release?

Also glogg built from master branch may work.

p.s. Code for monitoring file changes uses native api for each platform, so results may be different

[2020-05-09 20:56] variar commented on #277
Glogg is cpu bound on initial indexing due to end of line searching code (see discussion in #227). After initial reading if file is not too large it should stay in OS file cache. That way next reading operations for search/filtering are from memory, not from disk. Keeping file in memory won't increase performance very much.

In [klogg](https://github.com/variar/klogg) I use additional memory to ke

[2020-05-16 12:41] variar commented on #277
I've done some benchmarking in klogg using plain vector for index as the most simple structure .
For small files (about 1Gb) in single threaded mode there is about 5% search performance improvement. However, in multi-threaded mode there is almost no difference. Right now I don't see where else trading memory for performance could help.

[2020-06-01 07:02] simonreye commented on #69
DO IT!!!!

[2020-06-02 21:44] chasetec opened #278 "Add option to move tab close button to right side of tab"
I accidently close the tabs all the time, I think mostly because all other tab UIs typically place the "X" button on the right side of the tab instead of the left.

I'd be great if there was an option to move the button to the right.

Another useful option would be to only show the close tab button on the currently selected tab.

[2020-06-12 16:22] crazycliffy commented on #151
Anyone experiencing any issue with this still?  I compiled from the latest version 1.1.4 for linux (redhat/centos) target.  When the file gets rolled over (e.g. "mv file.log file.log.1; cp file.log.1 file.log"), I see garbled, messed up text displayed in glogg.   Using the Reload (Ctrl-R) feature does not fix the issue. As a workaround, I have to close the file, and just reopen it.

[2020-06-12 17:18] Lightjohn commented on #151
I still have this issue.
Same I just close and re open the app all the time.
And because I use glogg as debug tool I close reopen it quite a lot

[2020-06-22 09:27] lrc8000 opened #279 "regex error"
When I use the below regular expression, it works in Sublime but didn't work in glogg.

r= '(?s)^\[\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}\.\d{6}\]\s\[N\]\s\[Devproxy\.cpp\s732(.*?)21200888\]\s*$'

in Sublime
![image](https://user-images.githubusercontent.com/44364528/85271626-a17eb900-b4ad-11ea-8d00-882dbf2f77e3.png)

in glogg
![image](https://user-images.githubusercontent.com/44364528/85271637-a512

[2020-07-04 18:42] jdnixx commented on #146
Hey not sure if it's just me, I think I have a malware infection doing something to my DNS so couldn't say for sure (which is why I'm concerned about it in the first place) but this doesn't seem to be resolved yet:
![image](https://user-images.githubusercontent.com/24235975/86519017-965c4f00-be04-11ea-82ef-ef6fe25a0538.png)

Also echoing @Zero3 's comment about MD5, should ditch that.

[2020-07-06 20:03] variar commented on #279
Released versions of glogg use [QRegExp](https://doc.qt.io/archives/qt-4.8/qregexp.html) for matching. Looks like lookahead syntax should be (?=s).

The regex works as is in QRegularExpression based builds from master branch as well as in [klogg](https://github.com/variar/klogg)  fork.

[2020-07-06 20:11] variar commented on #151
@Lightjohn is this issue present in glogg built from latest master? I've chery-picked fix into my fork, but if the problem is still present in glogg master, then I'll have to find some other fix.

[2020-07-07 08:49] Lightjohn commented on #151
@variar Latest build from master seems OK I played with it a little bit by moving logs with a script.

So the fix is not in buntu repo but that's another story! Fix is here and working. Thank you

[2020-10-13 05:50] josefbaltz commented on #137
bump

[2020-10-15 17:24] jgscherber commented on #248
The artifacts from the latest glogg build don't exist at that link anymore. I tested the latest version of klogg and there's no warning there so I'm closing this issue.

[2020-10-15 17:24] #248 closed, assigned to nobody

[2020-10-15 21:08] variar commented on #137
This will be next big feature in [klogg](https://github.com/variar/klogg). Might be ready by New Year, but no promises.

[2020-10-18 02:47] sami-soft opened #280 "find & replace"
Please add the possibility of replacing strings when searching in future versions

[2020-10-23 09:02] lyind opened #281 "Unicode Paths not supported"
Glogg does not properly handle unicode paths. If any path segment above the log file, or the log file itself, contain complex unicode characters the file cannot be opened and glogg starts empty.

The following message is printed on the terminal when opening fails:

[code]
(The question mark characters are not in the original path and replace unicode characters.)

This is very annoying when analysi

[2020-11-26 16:51] firepol opened #282 "Home and End key should go at the top or bottom"
Hi,

I suggest to implement those features:

when pressing the keyboard "Home" key, glogg should jumpat the start of the log.

when pressing the keyboard "End" key, glogg should jump at the very end of the log.

Thanks for considering this, it would improve usability of the program a bit.
Cheers

[2020-12-02 23:13] yyy opened #283 "glogg on a Mac doesn't automatically open associated files."
I'm on Mojave. I have glogg installed in /Applications/glogg.app and associated .log files with it. But if I click on a file.log in Finder, or do 'open file.log' in command line, glogg comes up with the last opened file, not the one I'm trying to open. Calling '/Applications/glogg.app/Contents/MacOS/glogg file.log' explicitly does open file.log correctly.

![image](https://user-images.githubuserco

[2020-12-03 09:17] vitalii-honchar opened #284 "Couldn't download latest installer for Mac"
**ER**
Download latest glogg installer for mac from this page: https://glogg.bonnefon.org/download.html

**AR**
Couldn't download latest glogg installer for mac from this page: https://glogg.bonnefon.org/download.html
with download link http://glogg.bonnefon.org/files/glogg-latest-installer.dmg

**STD**
1. Go to  https://glogg.bonnefon.org/download.html
2. Open link [glogg-latest-installer.dmg](ht

[2020-12-17 09:13] variar commented on #284
@vitalii-honchar I wonder if there are any glitches with glogg 1.1.4 on recent MacOS? I test [Klogg](https://github.com/variar/klogg) only in Catalina VirtualBox VM, and would appreciate feedback from real MacOS users.

[2020-12-17 09:15] variar commented on #283
@yyy could you try [klogg](https://github.com/variar/klogg) in same scenario? I test it only in VirtualBox MacOS VM, and would appreciate feedback from real MacOS users.

[2020-12-18 14:55] DJ-Glock commented on #257
Same here. Windows 10, 1.1.4

[2020-12-23 21:30] variar commented on #274
This is available in  [klogg 20.12 release](https://github.com/variar/klogg/releases/tag/v20.12)

[2020-12-23 22:40] variar commented on #243
I've released [klogg 20.12](https://github.com/variar/klogg/releases/tag/v20.12).

Here is a list of new features compared with current glogg 1.1.4 (accumulated over several years of development):

- Faster initial file indexing. On ssd drives glogg is limited by cpu and does not utilize full IO speed of the drive.
- Faster searching. Klogg uses several threads to perform regex matching and has se

[2021-01-08 12:21] AlexDM0 commented on #266
I was wondering if this is still being considered. It would be a great improvement to be able to remove certain lines from the log view dynamically!

[2021-01-09 07:37] variar commented on #266
Hiding with highlighters-like mechanism leads to some unexpected and hard to fix side effects. Regex to exclude some lines from filtered view are on my todo list for next klogg release.

[2021-02-17 00:47] #213 closed

[2021-02-17 21:58] yyy commented on #283
Sorry, I forgot to respond to this. Yes, it works with klogg.

[2021-02-24 21:27] wi-ry commented on #20
This would be fantastic!

[2021-03-21 15:25] adanribeiro opened #286 "maxSize argument exceeds QByteArray size limit"
Using glogg_1.1.4-1.1build1_amd64 on Ubuntu 20.04.2 LTS
QIODevice::read (QFile, "/home/ar/scripts/bkp.sql"): maxSize argument exceeds QByteArray size limit

This message return when I try to search for a string like `Plan`onto "bkp.sql" (4GB).

There is any settings or known issues that I can consult about it?

[2021-03-22 06:02] variar commented on #286
Could it be that the bkp.sql file has only single line?

[2021-03-22 20:02] adanribeiro commented on #286
Sorry. For single line you mean "just one large and straight line"? No idea.
Unfortunely I can't manage how the file is created. It's sent to me through a client's third party software.
When I run glogg it tries for a while in the line 240. It seems a long string, but the fact there is a line 240 maybe can tell us something.

[2021-03-30 08:29] tmtron commented on #171
@selfagency could you post your winston file-format here? The original link is broken.

[2021-04-06 17:21] variar commented on #286
@GeadSolutions could you run `wc -L bkp.sql` This command should print the length of the longest line in the file bkp.sql.

glogg uses QByteArray/QString/QRegularExpression classes from Qt library. These classes can't handle huge lines. Changing this would require major refactoring as glogg currently need to keep the whole line in memory to do search pattern matching.

[2021-04-06 19:55] adanribeiro commented on #286
**in:** wc -L bkp.sql
**out:** 1043925 bkp.sql

[2021-04-06 21:08] variar commented on #286
It is definitely not a huge length. I've no more ideas at the moment. You could try [klogg](https://github.com/variar/klogg), I've rewritten a lot of glogg's code, so this particular issue might be fixed.

[2021-04-06 22:56] adanribeiro commented on #286
Well. I tried to run klogg with taht file but all system freezed and crashed. If you have another guess let me know, but I think perharps my system doesn't be prepared to make it properly.

[2021-04-07 04:37] variar commented on #286
Sorry for that. Looks like out of memory issue.

Could you restart klogg (without any files)? It might have created a crash dump, and on next start it should ask permission to upload it for analysis.

[2021-04-07 13:25] adanribeiro commented on #286
When I restarted it doesn't show me any report, so I created one for myself and sent to you. I've created this issue with the incoming content for anyone who want to consult too.

[Crash Report on Github](https://github.com/variar/klogg/issues/272)

[2021-05-09 21:14] variar commented on #234
This has been implemented in [klogg](https://github.com/variar/klogg)

[2021-05-09 21:17] variar commented on #199
This has been implemented in [klogg](https://github.com/variar/klogg) fork

[2021-05-09 21:26] variar commented on #73
This feature has been added to development builds of [klogg](https://github.com/variar/klogg). Any feedback is very welcome.

[2021-05-09 21:40] variar commented on #101
[Klogg](https://github.com/variar/klogg) has portable version. See releases on GitHub.

[2021-05-22 12:01] jjp91 opened #287 "Hide not filtered lines"
In log file that is a merge of logs of all threads of an app, it would be usefull to see only the lines that are filtered.

A check box in the filter dialog would be nice.

Thanks.

[2021-05-23 07:32] variar commented on #287
Hi, could you provide some more details/screenshots for this feature? Currently main view which shows all lines can be hidden by dragging the splitter up. This is a demo from [klogg](https://github.com/variar/klogg):

https://user-images.githubusercontent.com/1620716/119251962-ffca8500-bbb1-11eb-9681-e5525704a474.mp4

[2021-05-23 13:31] jjp91 commented on #287
Hi, your're right, I discovered that putting a '|' between two search strings can find both occurrences of lines and do as I would ask.

That is fine, don't need more. It's perfect.

Thanks for the tip.

[2021-05-23 13:31] #287 closed, assigned to nobody

[2021-06-22 17:08] henrylcs commented on #69
+1

[2021-06-22 18:02] variar commented on #69
Same issue in klogg variar/klogg#338

[2021-08-30 13:35] fritzmg opened #289 "Website https://glogg.bonnefon.org/ seems down"
Just as a heads up, the website https://glogg.bonnefon.org/ appears to be down.

[2021-08-30 15:17] variar commented on #289
@fritzmg this issue has been raised on the mailing list. I'm afraid it won't be resolved any time soon.

Scoop package descriptions does not look too complicated. I'll try add one for [klogg](https://github.com/variar/klogg) as a modern glogg replacement.

[2021-08-30 15:22] fritzmg commented on #289
Ah cool, did not know about its existence :)

[2021-08-30 15:48] variar commented on #289
Created a scoop for latest stable release of klogg https://raw.githubusercontent.com/variar/klogg/master/packaging/windows/scoop/klogg.json

However, current dev-version is much faster and has a lot more features.

[2021-09-12 00:06] macsir commented on #289
Hi, when can the download page be up? It is still down for now. Thanks.

[2021-09-12 05:23] variar commented on #289
I've tried to contact @nickbnf using mailing list and social networks. No response so far. @macsir try klogg (best to use latest dev version, links are above). If there is anything missing feel free to contact me.

[2021-09-12 05:59] macsir commented on #289
Thanks, will try.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Anton Filimonov ***@***.***>
Sent: Sunday, September 12, 2021 3:24:02 PM
To: nickbnf/glogg ***@***.***>
Cc: tm1sir ***@***.***>; Mention ***@***.***>
Subject: Re: [nickbnf/glogg] Website https://glogg.bonnefon.org/ seems down (#289)

I've tried to contact @nickbnf<https://github.com/nickbnf> using

[2021-11-04 12:01] richaardvark commented on #289
Fortunately you can still download the latest versions that were last published using an archive.org backup:

[https://web.archive.org/web/20210717193235/https://glogg.bonnefon.org/download.html](https://web.archive.org/web/20210717193235/https://glogg.bonnefon.org/download.html)

[2021-12-23 16:06] #105 closed

[2021-12-23 17:06] variar commented on #105
It's worth mentioning that [Klogg](https://github.com/variar/klogg) has a multi-window mode. In this mode there is only one instance of klogg running, but you can open multiple windows to view different files.

[2022-01-05 07:15] Neustradamus commented on #289
Always same at this time.

[2022-03-15 05:48] rushout09 opened #290 "Feature Request: pressing 'w' key to wrap text in a line"

[2022-03-15 07:13] variar commented on #290
Hi, #206 is about word wrap, better keep all related ideas in one place.

Same request for klogg variar/klogg#99

[2022-04-20 07:07] variar commented on #289
Site is back up :)

[2022-04-20 07:09] variar commented on #284
Site is back up and download links are working

[2022-04-21 11:00] vitalii-honchar commented on #284
I can't test it, because I don't have a Mac right now. I think we can close this issue.

[2022-05-01 13:27] fergarrui commented on #69
Oh it would be awesome but open since 2014...

[2022-05-13 09:57] zell-mbc opened #291 "Usability improvement in cases with insufficient access rights to open a document"
Ran into the situation that I wanted to open a log and the app just did nothing, no error. Either opens with a blank screen, or in case Glogg is open already, just nothing.
Upon looking into this in more detail it turned out that the user didn't have the necessary rights to open the document.
I would suggest presenting an error message in cases like this.

To reproduce:
1. Change access rights on

[2022-06-29 20:45] sgarbarini opened #292 ""Follow file" not working in 1.1.4-1.1build2 on Xubuntu 22.04"
The only way to see newly logged lines is to "Reload".

[2022-08-04 21:14] tberne commented on #188
I have the same issue in Windows 11 PRO.
![glogg_rYRIbvIVUp](https://user-images.githubusercontent.com/10933706/182946423-091a92dd-f914-49fb-a2c4-a43e5c5f6832.gif)

And, oddly, when selecting the text, it injects a space char between all characters. Perhaps, this is why I can't find any text when searching.

[2022-08-05 06:51] variar commented on #188
@tberne  could you try klogg (https://github.com/variar/klogg) in the same environment?

[2022-08-05 14:29] tberne commented on #188
@variar , klogg works like a charm!!
Thank you very much!!!

[2022-08-26 10:43] beppe9000 opened #293 "Add support for html markup"
Sometimes logs are written as an html file because it allows for colored / bold lines. It would be convenient to have the option to view it raw or strip the html tags / render it.

[2022-10-26 15:51] Max1234-Ita opened #294 "Please add a button allowing to quickly clean up the Filter textbox"
Not a bug, but a feature request:
I use a lot the string filtering feature , both with and without RegEx to analyse script execution logs.

Unfortunately, when I need to type a new, different filter string, I have to manually select and delete the previous one.
It would be very useful to have a little button, i.e. to the right of the textbox, allowing to clean it up automatically on click.

I thin